// 页脚容器flex定义
.flexWraper() {
	display: -webkit-box;
	display: -moz-box;
	display: box;

	-webkit-box-orient: inline-axis;
	-moz-box-orient: inline-axis;
	box-orient: inline-axis;

	-webkit-box-pack: start;
	-moz-box-pack: start;
	box-pack: start;

	-webkit-box-direction: normal;
	-moz-box-direction: normal;
	box-direction: normal;

	-webkit-box-align: center;
	-moz-box-align: center;
	box-align: center;
}
// flex定义
.flexNumbers( @num ) {
	-webkit-box-ordinal-group: 1;
	-moz-box-ordinal-group: 1;
	box-ordinal-group: 1;

	-webkit-box-flex: @num;
	-moz-box-flex: @num;
	box-flex: @num;
}

.M-footer{
	width: 100%;
	height: @footerHeight;
	.center;
	color: #FFF;
	font-size: 1.8rem;
	line-height: @footerHeight;

	// copyright
	&Copy{
		float: left;
	}
	// 其他信息
	&Info{
		float: right;
		padding: 0 1.5em;
		&Source{
			font-size: 2.8rem;
			color: #fff;
		}
	}
	// 多语言切换
	&Lang{
		float: right;
		height: 100%;
		// 宽度为图标(li)的宽度
		width: 24px;
		ul{
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			transform: translateY(-50%);
		}
		li{
			width: 24px;
			height: 16px;
			margin: .5em 0;
			cursor: pointer;
			opacity: 0.85;
			border-radius: .1em;
			background: #404040 url(../icons/lang-icons.png) no-repeat;
			transistion: opacity 220ms cubic-bezier(0.42, 0, 0.58, 1);
			&:hover{
				opacity: 1;
			}
			&.cn{
				background-position: 0 0;
			}
			&.hk{
				background-position: 0px -16px;
			}
			&.us{
				background-position: 0px -32px;
			}
		}
	}
}