.G-frame{
	position: relative;
	width: @globalWidth;
	margin: 0 auto;
	height: 100%;
	// 全局主体
	&Body{
		position: relative;
		height: 100%;
		// 主页
		&Index{
			width: 100%;
			height: 100%;
			background: #22B6AB;
			overflow: hidden;
			&Content{
				width: 100%;
				height: 100%;
				overflow: hidden;
			}
			&Footer{
				display: none;
			}
		}
		// 博客
		&Blog{
			display: none;
			width: 100%;
			min-height: 500px;
			// background:#F9F6F6;
			&Banner{
				position: relative;
				width: 100%;
				padding-top: @headHeight;
				min-height: @bannerHeight;
				background: #22B6AB;
				z-index: 9;
			}
			// 博客列表页
			&Archive{
				width: 100%;
				box-sizing: border-box;
			}
			// 博客内容页
			&Article{
				width: 100%;
				box-sizing: border-box;
			}
			&Footer{
				display: none;
				position: relative;
				width: 100%;
				min-height: 80px;
				background: #404040;
			}
		}
		// 空白页
		&Blank{
			position: relative;
		}
	}
	// 全局蒙版
	&Mask{
		display: none;
		position: fixed;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 10;
		background: #000;
		opacity: .7;
		// 遮罩淡出动画
		@-webkit-keyframes maskOut {0% {opacity: .7;} 100% {opacity: 0;}}
		@keyframes maskOut {0% {opacity: .7;} 100% {opacity: 0;}}
		&.mask-out{-webkit-animation-name: maskOut; animation-name: maskOut;}

		// 遮罩淡入动画
		@-webkit-keyframes maskIn {0% {opacity: 0;} 100% {opacity: .7;}}
		@keyframes maskIn {0% {opacity: 0;} 100% {opacity: .7;}}
		&.mask-in{-webkit-animation-name: maskIn; animation-name: maskIn;}
	}
	// 全局对话框
	&Dialog{
		display: none;
		position: fixed;
		width: 36em;
		height: 24em;
		top: 50%;
		left: 50%;
		margin-left: -18em;
		margin-top: -12em;
		// transform: translate(-50%, -50%);
		border: 15px solid rgba(200,200,200,.7);
		// background: #fff;
		z-index: 11;
	}
	// 全局弹出层
	&Layer{
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 12;
	}
}