<!-- G 全局主体 -->
<div class="G-frameBody">
	<!-- B 首页 -->
	<div class="G-frameBodyIndex">
		<div class="G-frameBodyIndexHead"/>
		<div class="G-frameBodyIndexContent"/>
		<div class="G-frameBodyIndexFooter"/>
	</div>
	<!-- B 博客 -->
	<div class="G-frameBodyBlog">
		<div class="G-frameBodyBlogHead" m-name="blogHead" m-module="project/modules/header.base"/>
		<div class="G-frameBodyBlogBanner" m-name="blogBanner" m-module="project/modules/banner.base"/>
		<div class="G-frameBodyBlogArchive"/>
		<div class="G-frameBodyBlogArticle"/>
		<div class="G-frameBodyBlogFooter" m-name="blogFooter" m-module="project/modules/footer.base"/>
	</div>
	<!-- B 空白页 -->
	<div class="G-frameBodyBlank"/>
</div>
<!-- G 全局蒙版 -->
<div class="G-frameMask"/>
<!-- G 全局对话框 -->
<div class="G-frameDialog"/>
<!-- G 全局弹出层 -->
<div class="G-frameLayer"/>
