.M-footer{
	width: 100%;
	height: @footerHeight;
	.center;
	color: #FFF;
	// copyright
	&Copy{
		display: block;
		padding: .5em 1em;
	}
	// 其他信息
	&Info{
		display: block;
		padding: 0 1em;
		&Source{
			display: inline-block;
			font-size: 2.8rem;
			color: #fff;
		}
		// 多语言切换
		&Lang{
			display: inline-block;
			padding-left: 1em;
			position: relative;
			top: -.3em;
			li{
				display: inline-block;
				// width: 24px;
				padding-left: 28px;
				height: 16px;
				line-height: 16px;
				font-size: 1.4rem;
				margin: 0 1em;
				opacity: 0.85;
				border-radius: .1em;
				background: #404040 url(/blog/resources/icons/lang-icons.png) no-repeat;
				&.cn{
					background-position: 0 0;
				}
				&.hk{
					background-position: 0px -16px;
				}
				&.us{
					background-position: 0px -32px;
				}
				&.act{
					border: 1px solid #FFF3E1;
					opacity: 0.5;
				}
			}
		}
	}

}