// 列表页样式
.P-archives{
	.P-archive-list{
		width: @blogWidth;
		min-height: 200px;
		.center;
	}
	// padding-top: 1em;
	section{
		padding: 1.5em 0;
		box-sizing: border-box;
		border-radius: 2px;
		border-bottom: 1px dashed #999;
		h2{
			// font-family: '黑体';
			padding: 6px 0;
			font-weight: normal;
			font-size: 2.2rem;
			padding-left: 10px;
		}
		article{
			margin: 1em 2em;
			padding: 1em 1.5em;
			color: #444;
			line-height: 150%;
			background: #FAF9F9;
			border-left: 8px solid #DDD;
			.abstract{
				display: inline-block;
				font-family: @zhFontFamily;
			}
			// .abstract:hover{
			// 	color: #000;
			// }
			.cover{
				display: inline-block;
				margin-top: 15px;
				border: 1px solid #DDD;
			}
		}
	}
	section:last-child{
		border-bottom: none;
	}
	// section:hover{
	// 	background: #FFFFF0;
	// 	border: 1px dashed #CCC;
	// 	border-bottom: 1px dashed #DDD;
	// }
}

.P-archive-list-title{
	.title{
		display: inline-block;
		font-size: 2.4rem;
		font-weight: normal;
		color: #1EA096;
		transition: color 218ms cubic-bezier(0.42,0,.58,1);
	}
	.title:hover{
		color: #F27900;
	}
}

.P-archive-list-info{
	padding-left: 10px;
	padding-bottom: 10px;
	color: #666;
	font-style: italic;
	font-size: 1.4rem;
}

.P-archive-pager{
	border-top: 3px solid #EDEDED;
	background: #F5F5F4;
}