// 文章样式
.P-article{
	.center;
	.content{
		padding: 15px 15px 15px 0;
		article{
			font-size: 17px;
			padding: 15px 0;
			line-height: 150%;
			a{
				color: #0080FF;
				text-decoration: underline;
			}
			p{
				padding-top: 25px;
				text-indent: 2em;
			}
			img{
				display: block;
				position: relative;
				left: 2em;
				border: 4px solid #E8E4E1;
				border-radius: 2px;
			}
		}
	}
	// 代码区域
	pre{
		width: 88%;
		position: relative;
		left: 2em;
		border: 4px double #E8E4E1;
		border-radius: 2px;
		font-size: 16px;
	}
}