// 文章样式
.P-article{
	.noRecord{
		width: @blogWidth;
		.center;
		.tc;
		padding-top: 3em;
		font-size: xx-large;
		color: red;
	}
	.content{
		width: @blogWidth;
		.center;
		padding: 1.5em 1.5em 1.5em 0;
		article{
			font-size: 1.8rem;
			// padding: 1.5em 0;
			line-height: 150%;
			a{
				color: #0080FF;
				text-decoration: underline;
			}
			p{
				padding-top: 25px;
				text-indent: 2em;
			}
			img{
				display: block;
				position: relative;
				left: 2em;
				border: 4px solid #E8E4E1;
				border-radius: 2px;
			}
		}
	}
	// 代码区域
	pre{
		width: 88%;
		padding: 1.5em;
		margin-top: 0.3em;
		overflow: auto;
		border: 8px solid #DDD;
		border-radius: 1em;
		position: relative;
		left: 2em;
		font-size: 1.6rem;
		background: #272822;
	}
}