@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  border: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #FFF;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
  font-size: 16px;
}
input,
textarea {
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
}
ul,
ol {
  list-style-type: none;
}
img {
  border: none;
}
a {
  color: #008000;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
#MAIN {
  width: 100%;
}
#LOADING {
  display: none;
  width: 100%;
  height: 100%;
}
#POPWIN {
  display: none;
  width: 100%;
  height: 100%;
}
#noScript {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
}
noscript {
  display: block;
  width: 550px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -275px;
  margin-top: -40px;
  text-align: center;
  font-size: 35px;
  color: #666;
  text-shadow: 2px 2px 3px #CCC;
}
.leftW {
  width: 70%;
}
.rightW {
  width: 30%;
}
.G-frame {
  width: 1080px;
  margin: 0 auto;
}
.G-frameBody {
  position: relative;
}
.G-frameBodyHead {
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}
.G-frameBodyHeadLogo {
  float: left;
}
.G-frameBodyHead ul {
  float: right;
}
.G-frameBodyHead li {
  display: inline-block;
  margin-right: 15px;
}
.G-frameBodyHead li a.act {
  color: red;
}
.G-frameBodyBan {
  display: none;
  width: 100%;
  height: 60px;
  background: #FF8000;
}
.G-frameBodyIndex {
  width: 100%;
  height: 400px;
}
.G-frameBodyBlog {
  display: none;
  width: 100%;
  min-height: 500px;
}
.G-frameBodyBlogArchive {
  width: 70%;
  display: inline-block;
  box-sizing: border-box;
}
.G-frameBodyBlogArticle {
  width: 70%;
  display: inline-block;
  box-sizing: border-box;
}
.G-frameBodyBlogAside {
  width: 30%;
  float: right;
  padding: 15px;
  box-sizing: border-box;
  background: #F4F4F4;
}
.G-frameBodyBlogAside dt {
  font-weight: bold;
  color: #666;
  background: #FAFAFA;
}
.G-frameBodyFooter {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.P-archives {
  padding: 15px 15px 15px 0;
}
.P-archives section {
  padding: 15px 0;
  box-sizing: border-box;
  border: 1px solid #FFF;
  border-radius: 2px;
}
.P-archives section h2 {
  padding: 6px 0;
  font-weight: normal;
  font-size: 22px;
  padding-left: 10px;
}
.P-archives section article {
  padding: 20px;
  color: #333;
  line-height: 150%;
}
.P-archives section .all {
  display: block;
  width: 90px;
  padding: 6px;
  text-align: center;
  background: #FBFBFB;
  border: 1px dashed #EEE;
  border-radius: 2px;
}
.P-archive-list-head {
  width: 100%;
  height: 60px;
}
.P-archive-list-date {
  float: left;
  width: 80px;
  height: 60px;
  text-align: center;
  font-size: 14px;
  background: #7AB80E;
  border-radius: 2px;
  color: #FFF;
}
.P-archive-list-date .day {
  width: 100%;
  height: 25px;
  padding-top: 5px;
  line-height: 30px;
  font-size: 20px;
}
.P-archive-list-date .year {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
.P-archive-list-title {
  float: left;
  height: 60px;
}
.P-archive-list-info {
  padding-left: 10px;
  color: #666;
  font-style: italic;
  font-size: 14px;
}
.M-pager {
  padding: 20px 0;
}
.M-pagerList {
  display: inline-block;
}
.M-pagerInfo {
  display: inline-block;
}
.M-pager input:active,
.M-pager input:focus {
  outline: none;
}
.M-pager .M-pagerItem,
.M-pager .M-pagerPN {
  box-sizing: border-box;
  position: relative;
  margin-right: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 2px;
  background: #FFF;
  cursor: pointer;
  font-size: 18px;
}
.M-pager .M-pagerAct {
  border: none;
  background: none;
  cursor: default;
}
.M-pager .M-pagerDisabled {
  background: #F1F1EF;
  cursor: default;
}
.P-aside {
  font-size: 16px;
}
.P-aside-me,
.P-aside-list,
.P-aside-others {
  box-sizing: border-box;
  border-radius: 2px;
  background: #FFF;
  border: 3px solid #E2E1E1;
}
.P-aside-me .P-aside-me-dt {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border-bottom: 1px solid #EEE;
}
.P-aside-me .P-aside-me-dd {
  padding: 10px;
}
.P-aside-list {
  margin: 15px 0;
}
.P-aside-list .P-aside-list-dt {
  height: 35px;
  line-height: 35px;
  padding: 0 10px;
  border-bottom: 2px solid #EEE;
}
.P-aside-list .art-item {
  padding: 6px 10px;
  background: #FFF;
  -webkit-transition: background .4s ease;
  -moz-transition: background .4s ease;
  transition: background .4s ease;
}
.P-aside-list .art-item:hover {
  background: #F8F8F5;
}
.P-aside-list .art-line {
  height: 0;
  border-top: 1px dashed #DDD;
  overflow: hidden;
}
.P-aside-list .art-line:last-child {
  display: none;
}
.P-aside-list .art-anchor {
  display: block;
}
.P-aside-list .art-anchor:hover {
  color: #008000;
}
.P-aside-list .art-title {
  display: block;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.P-aside-list .art-archive,
.P-aside-list .art-date,
.P-aside-list .art-comments {
  font-size: 12px;
  color: #BBB;
}
.P-aside-list .art-date {
  margin: 0 10px;
}
.P-aside-others {
  padding: 10px;
}
.P-article .content {
  padding: 15px 15px 15px 0;
}
.P-article .content h1 {
  padding: 8px 0;
  font-weight: normal;
  font-size: 24px;
  color: #008000;
}
.P-article .content .info {
  padding-bottom: 15px;
  border-bottom: 2px dashed #DDD;
  color: #999;
  font-size: 14px;
  font-style: italic;
}
.P-article .content article {
  padding: 15px 0;
  line-height: 180%;
}
.P-article .content article img {
  display: block;
  margin: 10px 0;
  border: 5px solid #DDD;
  border-radius: 5px;
}
.P-article pre {
  border: 5px solid #DDD;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  line-height: 125%;
  font-family: Consolas, Tahoma 'Microsoft Yahei';
  background: #FCFCFC;
}
