@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  border: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #FFF;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
  font-size: 16px;
}
input,
textarea {
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
}
ul,
ol {
  list-style-type: none;
}
img {
  border: none;
}
a {
  color: #008000;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
#MAIN {
  width: 100%;
}
#LOADING {
  display: none;
  width: 100%;
  height: 100%;
}
#POPWIN {
  display: none;
  width: 100%;
  height: 100%;
}
#noScript {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
}
noscript {
  display: block;
  width: 550px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -275px;
  margin-top: -40px;
  text-align: center;
  font-size: 35px;
  color: #666;
  text-shadow: 2px 2px 3px #CCC;
}
.center {
  margin: 0 auto;
}
.head-fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}
.tc {
  text-align: center !important;
}
.tl {
  text-align: left !important;
}
.tr {
  text-align: right !important;
}
.lh40 {
  line-height: 40px;
}
.lh36 {
  line-height: 36px;
}
.lh30 {
  line-height: 30px;
}
.lh24 {
  line-height: 24px;
}
.lh20 {
  line-height: 20px;
}
.lh18 {
  line-height: 18px;
}
.lh16 {
  line-height: 16px;
}
.lh15 {
  line-height: 15px;
}
.z1 {
  z-index: 1;
}
.z2 {
  z-index: 2;
}
.z10 {
  z-index: 10;
}
.z99 {
  z-index: 99;
}
.z100 {
  z-index: 100;
}
.z999 {
  z-index: 999;
}
.ti {
  font-style: italic;
}
.tdef {
  font-style: italic;
  text-align: center;
  color: #ccc;
}
.text_limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.di {
  display: inline;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.cur_p {
  cursor: pointer;
}
.cur_d {
  cursor: default;
}
.cl {
  clear: both;
}
.clear {
  clear: both;
}
.clear:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.clearBox {
  display: block;
  overflow: hidden;
  height: 0px;
  width: 0px;
  clear: both;
}
.clearMargin:before {
  display: table-column;
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
}
.pd30 {
  padding: 30px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pd20 {
  padding: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pd15 {
  padding: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pd10 {
  padding: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pd7 {
  padding: 7px !important;
}
.pb7 {
  padding-bottom: 7px !important;
}
.pt7 {
  padding-top: 7px !important;
}
.pl7 {
  padding-left: 7px !important;
}
.pr7 {
  padding-right: 7px !important;
}
.pd5 {
  padding: 5px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.ml7 {
  margin-left: 7px !important;
}
.mr7 {
  margin-right: 7px !important;
}
.mb7 {
  margin-bottom: 7px !important;
}
.mt7 {
  margin-top: 7px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mtn5 {
  margin-top: -5px !important;
}
.mtn10 {
  margin-top: -10px !important;
}
.mtn15 {
  margin-top: -15px !important;
}
.mtn20 {
  margin-top: -20px !important;
}
.mbn5 {
  margin-bottom: -5px !important;
}
.mbn10 {
  margin-bottom: -10px !important;
}
.mbn15 {
  margin-bottom: -15px !important;
}
.mbn20 {
  margin-bottom: -20px !important;
}
.wa {
  width: auto !important;
}
.wi {
  width: inherit !important;
}
.w20 {
  width: 20px !important;
}
.w30 {
  width: 30px !important;
}
.w40 {
  width: 40px !important;
}
.w50 {
  width: 50px !important;
}
.w60 {
  width: 60px !important;
}
.w70 {
  width: 70px !important;
}
.w80 {
  width: 80px !important;
}
.w90 {
  width: 90px !important;
}
.w100 {
  width: 100px !important;
}
.w120 {
  width: 120px !important;
}
.w140 {
  width: 140px !important;
}
.w150 {
  width: 150px !important;
}
.w160 {
  width: 160px !important;
}
.w180 {
  width: 180px !important;
}
.w200 {
  width: 200px !important;
}
.w240 {
  width: 240px !important;
}
.w250 {
  width: 250px !important;
}
.w300 {
  width: 300px !important;
}
.w320 {
  width: 320px !important;
}
.w350 {
  width: 350px !important;
}
.w400 {
  width: 400px !important;
}
.w500 {
  width: 500px !important;
}
.w600 {
  width: 600px !important;
}
.w700 {
  width: 700px !important;
}
.w800 {
  width: 800px !important;
}
.w900 {
  width: 900px !important;
}
.w1000 {
  width: 1000px !important;
}
.h20 {
  height: 20px !important;
}
.h30 {
  height: 30px !important;
}
.h40 {
  height: 40px !important;
}
.h50 {
  height: 50px !important;
}
.h60 {
  height: 60px !important;
}
.h70 {
  height: 70px !important;
}
.h80 {
  height: 80px !important;
}
.h90 {
  height: 90px !important;
}
.h100 {
  height: 100px !important;
}
.h120 {
  height: 120px !important;
}
.h140 {
  height: 140px !important;
}
.h150 {
  height: 150px !important;
}
.h160 {
  height: 160px !important;
}
.h180 {
  height: 180px !important;
}
.h200 {
  height: 200px !important;
}
.h240 {
  height: 240px !important;
}
.h250 {
  height: 250px !important;
}
.h300 {
  height: 300px !important;
}
.h320 {
  height: 320px !important;
}
.h350 {
  height: 350px !important;
}
.h400 {
  height: 400px !important;
}
.h500 {
  height: 500px !important;
}
.h600 {
  height: 600px !important;
}
.h700 {
  height: 700px !important;
}
.h800 {
  height: 800px !important;
}
.h900 {
  height: 900px !important;
}
.h1000 {
  height: 1000px !important;
}
.leftW {
  width: 70%;
}
.rightW {
  width: 30%;
}
.G-frame {
  width: 100%;
  margin: 0 auto;
}
.G-frameBody {
  position: relative;
}
.G-frameBodyIndex {
  width: 100%;
  height: 400px;
}
.G-frameBodyIndexHead {
  width: 100%;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
  background: #F7F7F7;
}
.G-frameBodyBlog {
  display: none;
  width: 100%;
  min-height: 500px;
}
.G-frameBodyBlogHead {
  width: 100%;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
  background: #F7F7F7;
}
.G-frameBodyBlogBanner {
  width: 100%;
  padding-top: 70px;
  min-height: 200px;
  background: #383838;
}
.G-frameBodyBlogArchive {
  width: 100%;
  box-sizing: border-box;
}
.G-frameBodyBlogArticle {
  width: 100%;
  box-sizing: border-box;
}
.G-frameBodyBlank {
  position: relative;
}
.P-archives {
  margin: 0 auto;
  padding: 15px 15px 15px 0;
}
.P-archives section {
  padding: 15px 0;
  box-sizing: border-box;
  border: 1px solid #FFF;
  border-radius: 2px;
}
.P-archives section h2 {
  padding: 6px 0;
  font-weight: normal;
  font-size: 22px;
  padding-left: 10px;
}
.P-archives section article {
  padding: 20px;
  color: #333;
  line-height: 150%;
}
.P-archives section .all {
  display: block;
  width: 90px;
  padding: 6px;
  text-align: center;
  background: #FBFBFB;
  border: 1px dashed #EEE;
  border-radius: 2px;
}
.P-archive-list-head {
  width: 100%;
  height: 60px;
}
.P-archive-list-date {
  float: left;
  width: 80px;
  height: 60px;
  text-align: center;
  font-size: 14px;
  background: #7AB80E;
  border-radius: 2px;
  color: #FFF;
}
.P-archive-list-date .day {
  width: 100%;
  height: 25px;
  padding-top: 5px;
  line-height: 30px;
  font-size: 20px;
}
.P-archive-list-date .year {
  width: 100%;
  height: 30px;
  line-height: 30px;
  font-size: 13px;
}
.P-archive-list-title {
  float: left;
  height: 60px;
}
.P-archive-list-info {
  padding-left: 10px;
  color: #666;
  font-style: italic;
  font-size: 14px;
}
.M-pager {
  padding: 20px 0;
}
.M-pagerList {
  display: inline-block;
}
.M-pagerInfo {
  display: inline-block;
}
.M-pager input:active,
.M-pager input:focus {
  outline: none;
}
.M-pager .M-pagerItem,
.M-pager .M-pagerPN {
  box-sizing: border-box;
  position: relative;
  margin-right: 10px;
  display: inline-block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 2px;
  background: #FFF;
  cursor: pointer;
  font-size: 18px;
}
.M-pager .M-pagerAct {
  border: none;
  background: none;
  cursor: default;
}
.M-pager .M-pagerDisabled {
  background: #F1F1EF;
  cursor: default;
}
.M-head {
  margin: 0 auto;
}
.M-headLogo {
  line-height: 70px;
  width: 18%;
}
.M-headLogo h1 {
  font-size: 34px;
  letter-spacing: 3px;
}
.M-headLogo .logoText {
  color: #686599;
}
.M-headNav ul {
  float: right;
}
.M-headNav li {
  display: inline-block;
  margin-right: 2.5em;
  font-size: 18px;
}
.M-headNav li a.act {
  color: red;
}
.P-article {
  margin: 0 auto;
}
.P-article .content {
  padding: 15px 15px 15px 0;
}
.P-article .content h1 {
  padding: 8px 0;
  font-weight: normal;
  font-size: 24px;
  color: #008000;
}
.P-article .content .info {
  padding-bottom: 15px;
  border-bottom: 2px dashed #DDD;
  color: #999;
  font-size: 14px;
  font-style: italic;
}
.P-article .content article {
  padding: 15px 0;
  line-height: 180%;
}
.P-article .content article img {
  display: block;
  margin: 10px 0;
  border: 5px solid #DDD;
  border-radius: 5px;
}
.P-article pre {
  border: 5px solid #DDD;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  line-height: 125%;
  font-family: Consolas, Tahoma 'Microsoft Yahei';
  background: #FCFCFC;
}
