@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  border: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #FFF;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
  font-size: 16px;
  color: #000;
}
input,
textarea {
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
}
ul,
ol {
  list-style-type: none;
}
img {
  border: none;
}
a {
  color: #008000;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
#MAIN {
  width: 100%;
  height: 100%;
}
#LOADING {
  display: none;
  width: 100%;
  height: 100%;
}
#POPWIN {
  display: none;
  width: 100%;
  height: 100%;
}
#noScript {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
}
noscript {
  display: block;
  width: 550px;
  height: 80px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -275px;
  margin-top: -40px;
  text-align: center;
  font-size: 35px;
  color: #666;
  text-shadow: 2px 2px 3px #CCC;
}
.center {
  margin: 0 auto;
}
.head-fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}
.tc {
  text-align: center !important;
}
.tl {
  text-align: left !important;
}
.tr {
  text-align: right !important;
}
.ti {
  font-style: italic;
}
.tdef {
  font-style: italic;
  text-align: center;
  color: #ccc;
}
.text_limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.cur_p {
  cursor: pointer;
}
.cur_d {
  cursor: default;
}
.cl {
  clear: both;
}
.clear {
  clear: both;
}
.clear:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.clearBox {
  display: block;
  overflow: hidden;
  height: 0px;
  width: 0px;
  clear: both;
}
.clearMargin:before {
  display: table-column;
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
}
.pd30 {
  padding: 30px !important;
}
.pb30 {
  padding-bottom: 30px !important;
}
.pt30 {
  padding-top: 30px !important;
}
.pl30 {
  padding-left: 30px !important;
}
.pr30 {
  padding-right: 30px !important;
}
.pd20 {
  padding: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pd15 {
  padding: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pd10 {
  padding: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pd7 {
  padding: 7px !important;
}
.pb7 {
  padding-bottom: 7px !important;
}
.pt7 {
  padding-top: 7px !important;
}
.pl7 {
  padding-left: 7px !important;
}
.pr7 {
  padding-right: 7px !important;
}
.pd5 {
  padding: 5px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.ml30 {
  margin-left: 30px !important;
}
.mr30 {
  margin-right: 30px !important;
}
.mb30 {
  margin-bottom: 30px !important;
}
.mt30 {
  margin-top: 30px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.ml7 {
  margin-left: 7px !important;
}
.mr7 {
  margin-right: 7px !important;
}
.mb7 {
  margin-bottom: 7px !important;
}
.mt7 {
  margin-top: 7px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mt0 {
  margin-top: 0px !important;
}
.mtn5 {
  margin-top: -5px !important;
}
.mtn10 {
  margin-top: -10px !important;
}
.mtn15 {
  margin-top: -15px !important;
}
.mtn20 {
  margin-top: -20px !important;
}
.mbn5 {
  margin-bottom: -5px !important;
}
.mbn10 {
  margin-bottom: -10px !important;
}
.mbn15 {
  margin-bottom: -15px !important;
}
.mbn20 {
  margin-bottom: -20px !important;
}
.wa {
  width: auto !important;
}
.wi {
  width: inherit !important;
}
.w20 {
  width: 20px !important;
}
.w30 {
  width: 30px !important;
}
.w40 {
  width: 40px !important;
}
.w50 {
  width: 50px !important;
}
.w60 {
  width: 60px !important;
}
.w70 {
  width: 70px !important;
}
.w80 {
  width: 80px !important;
}
.w90 {
  width: 90px !important;
}
.w100 {
  width: 100px !important;
}
.w120 {
  width: 120px !important;
}
.w140 {
  width: 140px !important;
}
.w150 {
  width: 150px !important;
}
.w160 {
  width: 160px !important;
}
.w180 {
  width: 180px !important;
}
.w200 {
  width: 200px !important;
}
.w240 {
  width: 240px !important;
}
.w250 {
  width: 250px !important;
}
.w300 {
  width: 300px !important;
}
.w320 {
  width: 320px !important;
}
.w350 {
  width: 350px !important;
}
.w400 {
  width: 400px !important;
}
.w500 {
  width: 500px !important;
}
.w600 {
  width: 600px !important;
}
.w700 {
  width: 700px !important;
}
.w800 {
  width: 800px !important;
}
.w900 {
  width: 900px !important;
}
.w1000 {
  width: 1000px !important;
}
.h20 {
  height: 20px !important;
}
.h30 {
  height: 30px !important;
}
.h40 {
  height: 40px !important;
}
.h50 {
  height: 50px !important;
}
.h60 {
  height: 60px !important;
}
.h70 {
  height: 70px !important;
}
.h80 {
  height: 80px !important;
}
.h90 {
  height: 90px !important;
}
.h100 {
  height: 100px !important;
}
.h120 {
  height: 120px !important;
}
.h140 {
  height: 140px !important;
}
.h150 {
  height: 150px !important;
}
.h160 {
  height: 160px !important;
}
.h180 {
  height: 180px !important;
}
.h200 {
  height: 200px !important;
}
.h240 {
  height: 240px !important;
}
.h250 {
  height: 250px !important;
}
.h300 {
  height: 300px !important;
}
.h320 {
  height: 320px !important;
}
.h350 {
  height: 350px !important;
}
.h400 {
  height: 400px !important;
}
.h500 {
  height: 500px !important;
}
.h600 {
  height: 600px !important;
}
.h700 {
  height: 700px !important;
}
.h800 {
  height: 800px !important;
}
.h900 {
  height: 900px !important;
}
.h1000 {
  height: 1000px !important;
}
.leftW {
  width: 70%;
}
.rightW {
  width: 30%;
}
.G-frame {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.G-frameBody {
  position: relative;
  height: 100%;
}
.G-frameBodyIndex {
  width: 100%;
  height: 100%;
  background: url(../images/bg.gif) repeat;
}
.G-frameBodyIndexHead {
  display: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  background: #5F5A5A;
  border-bottom: 4px solid #444;
}
.G-frameBodyIndexHead ul {
  float: right;
  padding-left: 40px;
}
.G-frameBodyIndexHead li {
  display: inline-block;
  margin-right: 2.5em;
  font-size: 15px;
}
.G-frameBodyIndexHead li a {
  color: #FFF;
}
.G-frameBodyIndexHead li a.act {
  color: #f9f612;
}
.G-frameBodyBlog {
  display: none;
  width: 100%;
  min-height: 500px;
}
.G-frameBodyBlogHead {
  display: none;
  width: 100%;
  height: 70px;
  line-height: 70px;
  overflow: hidden;
  background: #F7F7F7;
  border-bottom: 1px solid #DDD;
}
.G-frameBodyBlogHead .logoAnchor {
  display: block;
  height: 50px;
  padding-top: 13px;
  opacity: 0.7;
}
.G-frameBodyBlogHead ul {
  float: right;
  padding-left: 40px;
}
.G-frameBodyBlogHead li {
  display: inline-block;
  margin-right: 2em;
  font-size: 18px;
}
.G-frameBodyBlogHead li a.act {
  color: red;
}
.G-frameBodyBlogBanner {
  position: relative;
  width: 100%;
  padding-top: 70px;
  min-height: 200px;
  background: #383838;
}
.G-frameBodyBlogArchive {
  width: 100%;
  box-sizing: border-box;
}
.G-frameBodyBlogArticle {
  width: 100%;
  box-sizing: border-box;
}
.G-frameBodyBlogFooter {
  position: relative;
  width: 100%;
  min-height: 80px;
  background: #404040;
}
.G-frameBodyBlank {
  position: relative;
}
.M-pager {
  padding: 50px 0;
}
.M-pagerList {
  display: inline-block;
}
.M-pagerInfo {
  display: inline-block;
}
.M-pagerInfo .total {
  margin-left: 20px;
  color: #867878;
}
.M-pager input:active,
.M-pager input:focus {
  outline: none;
}
.M-pager .M-pagerItem,
.M-pager .M-pagerPN {
  box-sizing: border-box;
  position: relative;
  margin: 0 8px;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 2px;
  background: #FAFAFA;
  color: #B6AEAE;
  cursor: pointer;
  font-size: 21px;
  transition: background 220ms cubic-bezier(0.42, 0, 0.58, 1);
}
.M-pager .M-pagerItem:hover,
.M-pager .M-pagerPN:hover {
  background: #4D4D4D;
  color: #FFF;
}
.M-pager .M-pagerAct,
.M-pager .M-pagerAct:hover {
  margin: 0px;
  border: none;
  background: none;
  color: #B6AEAE;
  font-style: italic;
  cursor: default;
}
.M-pager .M-pagerOmit,
.M-pager .M-pagerOmit:hover {
  border: none;
  background: none;
  color: #A39A9A;
  cursor: default;
}
.M-footer {
  margin: 0 auto;
  color: #FFF;
  font-size: 18px;
  line-height: 80px;
}
.M-banner {
  width: 100%;
  color: #FFF;
}
.M-bannerArchive {
  display: none;
  width: 100%;
  height: 100%;
}
.M-bannerArchive .content {
  margin: 0 auto;
  width: 1024px;
}
.M-bannerArticle {
  display: none;
  padding-top: 80px;
  width: 1024px;
  height: 100%;
  line-height: 260%;
  margin: 0 auto;
}
.M-bannerArticle .title {
  font-weight: normal;
}
.M-bannerArticle .info {
  color: #D5C8CD;
}
.M-threeRings {
  padding: 50px 0;
  text-align: center;
}
.M-threeRingsItem {
  width: 25px;
  height: 25px;
  background-color: #383838;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.M-threeRings .ring1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.M-threeRings .ring2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.M-chrysanthemum {
  padding: 50px 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.M-chrysanthemum .container1 > div,
.M-chrysanthemum .container2 > div,
.M-chrysanthemum .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.M-chrysanthemum .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.M-chrysanthemum .container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.M-chrysanthemum .container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.M-chrysanthemum .circle1 {
  top: 0;
  left: 0;
}
.M-chrysanthemum .circle2 {
  top: 0;
  right: 0;
}
.M-chrysanthemum .circle3 {
  right: 0;
  bottom: 0;
}
.M-chrysanthemum .circle4 {
  left: 0;
  bottom: 0;
}
.M-chrysanthemum .container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.M-chrysanthemum .container3 .circle1 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.M-chrysanthemum .container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.M-chrysanthemum .container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.M-chrysanthemum .container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.M-chrysanthemum .container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.M-chrysanthemum .container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.M-chrysanthemum .container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.M-chrysanthemum .container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.M-chrysanthemum .container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.M-chrysanthemum .container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.P-archives {
  margin: 0 auto;
  padding: 15px 15px 15px 0;
}
.P-archives section {
  padding: 15px 0;
  box-sizing: border-box;
  border: 1px solid #FFF;
  border-radius: 2px;
  border-bottom: 1px dashed #999;
}
.P-archives section h2 {
  padding: 6px 0;
  font-weight: normal;
  font-size: 22px;
  padding-left: 10px;
}
.P-archives section article {
  margin: 10px 40px;
  padding: 10px 15px;
  color: #444;
  line-height: 150%;
  background: #FAF9F9;
  border-left: 8px solid #DDD;
}
.P-archives section article .abstract {
  display: inline-block;
}
.P-archives section article .abstract:hover {
  color: #000;
}
.P-archives section article .cover {
  display: inline-block;
  margin-top: 15px;
  border: 1px solid #DDD;
}
.P-archives section:last-child {
  border-bottom: none;
}
.P-archive-list-title .title {
  display: inline-block;
  font-size: 24px;
  font-weight: normal;
  color: #0080C0;
  transition: color 218ms cubic-bezier(0.42, 0, 0.58, 1);
}
.P-archive-list-title .title:hover {
  color: #0080FF;
}
.P-archive-list-info {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #666;
  font-style: italic;
  font-size: 14px;
}
.bannerTxt {
  margin-top: 70px;
  font-size: 40px;
}
.P-article {
  margin: 0 auto;
}
.P-article .content {
  padding: 15px 15px 15px 0;
}
.P-article .content article {
  font-size: 17px;
  padding: 15px 0;
  line-height: 150%;
}
.P-article .content article a {
  color: #0080FF;
  text-decoration: underline;
}
.P-article .content article p {
  padding-top: 25px;
  text-indent: 2em;
}
.P-article .content article img {
  display: block;
  position: relative;
  left: 2em;
  border: 4px solid #E8E4E1;
  border-radius: 2px;
}
.P-article pre {
  width: 88%;
  padding: 1.5em;
  margin-top: 0.3em;
  overflow: auto;
  border: 8px solid #DDD;
  border-radius: 1em;
  position: relative;
  left: 2em;
  font-size: 16px;
  background: #272822;
}
