@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  border: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #FFF;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
  font-size: 16px;
}
ul,
ol {
  list-style-type: none;
}
img {
  border: none;
}
a {
  color: #008000;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
#MAIN {
  width: 100%;
}
#LOADING {
  display: none;
  width: 100%;
  height: 100%;
}
#POPWIN {
  display: none;
  width: 100%;
  height: 100%;
}
#noScript {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
}
noscript {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  left: -50%;
  top: -50%;
  text-align: center;
  font-size: 35px;
  color: #666;
  text-shadow: 2px 2px 3px #CCC;
}
.G-frame {
  width: 1024px;
  margin: 0 auto;
}
.G-frameBodyHead {
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}
.G-frameBodyHeadLogo {
  float: left;
}
.G-frameBodyHead ul {
  float: right;
}
.G-frameBodyHead li {
  display: inline-block;
  margin-right: 15px;
}
.G-frameBodyHead li a.act {
  color: red;
}
.G-frameBodyBan {
  display: none;
  width: 100%;
  height: 60px;
  background: #FF8000;
}
.G-frameBodyIndex {
  width: 100%;
  height: 400px;
}
.G-frameBodyWrapper {
  display: none;
  width: 100%;
}
.G-frameBodyWrapperArchive {
  display: inline-block;
  width: 75%;
  box-sizing: border-box;
}
.G-frameBodyWrapperArticle {
  display: inline-block;
  width: 75%;
  box-sizing: border-box;
}
.G-frameBodyWrapperAside {
  float: right;
  width: 25%;
  box-sizing: border-box;
  border: 1px solid #EEE;
  border-radius: 2px;
}
.G-frameBodyFooter {
  width: 100%;
  height: 50px;
  line-height: 50px;
}
.P-archives {
  padding: 15px 15px 15px 0;
}
.P-archives section {
  padding: 15px 0;
}
.P-archives section h2 {
  padding: 8px 0;
  font-weight: normal;
  font-size: 24px;
}
.P-archives section h2 a {
  padding-left: 10px;
  border-left: 3px solid #080;
  border-radius: 5px;
}
.P-archives section .info {
  padding: 8px 0;
}
.P-archives section article {
  line-height: 150%;
}
.P-archives section a.readAll {
  display: block;
  box-sizing: border-box;
  margin-top: 10px;
  width: 100%;
  padding: 10px;
  background: #eeeeff;
}
.P-me {
  box-sizing: border-box;
  padding: 10px;
}
.P-list {
  box-sizing: border-box;
  padding: 10px;
  border-bottom: 1px solid #EEE;
  border-top: 1px solid #EEE;
}
.P-others {
  box-sizing: border-box;
  padding: 10px;
}
.P-article .content {
  padding: 15px 15px 15px 0;
}
.P-article .content h1 {
  padding: 8px 0;
  font-weight: normal;
  font-size: 24px;
}
.P-article .content .info {
  padding: 8px 0;
}
.P-article .content article {
  line-height: 150%;
}
.P-article pre {
  border: 5px solid #DDD;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  font-family: Consolas;
  background: #FCFCFC;
}
