@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  border: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #FFF;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
  font-size: 1.6rem;
  color: #000;
  min-width: 320px;
}
input,
textarea,
button {
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
  font-size: 1.4rem;
}
ul,
ol {
  list-style-type: none;
}
img {
  border: none;
}
a {
  color: #0080c0;
  text-decoration: none;
  transition: color 218ms cubic-bezier(0.42, 0, 0.58, 1);
}
a:hover {
  color: #f27900;
  cursor: pointer;
}
::selection {
  color: #FFFF00;
  background-color: rgba(34, 182, 171, 0.7);
}
#MAIN {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 0;
}
#MASK {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background: #000;
  opacity: .7;
}
@-webkit-keyframes maskOut {
  0% {
    opacity: .7;
  }
  100% {
    opacity: 0;
  }
}
@keyframes maskOut {
  0% {
    opacity: .7;
  }
  100% {
    opacity: 0;
  }
}
.maskOut {
  -webkit-animation-name: maskOut;
  animation-name: maskOut;
}
@-webkit-keyframes maskIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}
@keyframes maskIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .7;
  }
}
.maskIn {
  -webkit-animation-name: maskIn;
  animation-name: maskIn;
}
#DIALOG {
  display: none;
  position: fixed;
  width: 44em;
  height: 22em;
  left: 50%;
  top: 50%;
  margin-left: -22em;
  margin-top: -14em;
  border: 15px solid rgba(200, 200, 200, 0.7);
  z-index: 101;
}
#POPUP {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 999;
}
.center {
  margin: 0 auto;
}
.head-fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}
.overflowHidden {
  overflow: hidden;
}
.warning {
  color: #FF5700 !important;
}
.ok {
  color: #008000 !important;
}
.tc {
  text-align: center !important;
}
.tl {
  text-align: left !important;
}
.tr {
  text-align: right !important;
}
.ti {
  font-style: italic;
}
.tdl {
  text-decoration: underline;
}
.tdef {
  font-style: italic;
  text-align: center;
  color: #aaa;
}
.text_limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.fts12 {
  font-size: 1.2rem !important;
}
.fts13 {
  font-size: 1.3rem !important;
}
.fts14 {
  font-size: 1.4rem !important;
}
.fts15 {
  font-size: 1.5rem !important;
}
.fts16 {
  font-size: 1.6rem !important;
}
.fts18 {
  font-size: 1.8rem !important;
}
.fts20 {
  font-size: 2.0rem !important;
}
.fts22 {
  font-size: 2.2rem !important;
}
.fts24 {
  font-size: 2.4rem !important;
}
.fts26 {
  font-size: 2.6rem !important;
}
.fts28 {
  font-size: 2.8rem !important;
}
.fts30 {
  font-size: 3.0rem !important;
}
.lsp0 {
  letter-spacing: .0 !important;
}
.lsp1 {
  letter-spacing: .1em !important;
}
.lsp2 {
  letter-spacing: .2em !important;
}
.lsp3 {
  letter-spacing: .3em !important;
}
.lsp4 {
  letter-spacing: .4em !important;
}
.lsp5 {
  letter-spacing: .5em !important;
}
.pd2 {
  padding: 2em !important;
}
.pb2 {
  padding-bottom: 2em !important;
}
.pt2 {
  padding-top: 2em !important;
}
.pl2 {
  padding-left: 2em !important;
}
.pr2 {
  padding-right: 2em !important;
}
.pd1 {
  padding: 1em !important;
}
.pb1 {
  padding-bottom: 1em !important;
}
.pt1 {
  padding-top: 1em !important;
}
.pl1 {
  padding-left: 1em !important;
}
.pr1 {
  padding-right: 1em !important;
}
.pd5 {
  padding: .5em !important;
}
.pb5 {
  padding-bottom: .5em !important;
}
.pt5 {
  padding-top: .5em !important;
}
.pl5 {
  padding-left: .5em !important;
}
.pr5 {
  padding-right: .5em !important;
}
.ml2 {
  margin-left: 2em !important;
}
.mr2 {
  margin-right: 2em !important;
}
.mb2 {
  margin-bottom: 2em !important;
}
.mt2 {
  margin-top: 2em !important;
}
.ml1 {
  margin-left: 1em !important;
}
.mr1 {
  margin-right: 1em !important;
}
.mb1 {
  margin-bottom: 1em !important;
}
.mt1 {
  margin-top: 1em !important;
}
.ml5 {
  margin-left: .5em !important;
}
.mr5 {
  margin-right: .5em !important;
}
.mb5 {
  margin-bottom: .5em !important;
}
.mt5 {
  margin-top: .5em !important;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.cur_p {
  cursor: pointer;
}
.cur_d {
  cursor: default;
}
.cl {
  clear: both;
}
.clear {
  clear: both;
}
.clear:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.clearBox {
  display: block;
  overflow: hidden;
  height: 0px;
  width: 0px;
  clear: both;
}
.clearMargin:before {
  display: table-column;
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
}
.G-frame {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.G-frameBody {
  position: relative;
  height: 100%;
}
.G-frameBodyIndex {
  width: 100%;
  height: 100%;
  background: #a0c5e8;
  overflow: hidden;
}
.G-frameBodyIndexContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.G-frameBodyIndexFooter {
  display: none;
}
.G-frameBodyBlog {
  display: none;
  width: 100%;
  min-height: 500px;
}
.G-frameBodyBlogBanner {
  position: relative;
  width: 100%;
  padding-top: 70px;
  min-height: 180px;
  background: #22B6AB;
}
.G-frameBodyBlogArchive {
  width: 100%;
  box-sizing: border-box;
}
.G-frameBodyBlogArticle {
  width: 100%;
  box-sizing: border-box;
}
.G-frameBodyBlogFooter {
  display: none;
  position: relative;
  width: 100%;
  min-height: 80px;
  background: #404040;
}
.G-frameBodyBlank {
  position: relative;
}
.M-iconOk,
.M-iconWarning {
  display: inline-block;
  position: relative;
  right: .2em;
  top: -0.1em;
  width: 1.1em;
  height: 1.15em;
  line-height: 1.2;
  font-weight: bold;
  text-align: center;
  background: #1BC36F;
  color: #FFF;
  font-style: normal;
  border-radius: 20%;
}
.M-iconWarning {
  background: #F76D53;
  color: #FFF;
}
.M-dialog {
  height: 100%;
  background: #FFF;
}
.M-dialogHead {
  position: relative;
  padding: 0 1em;
  height: 2.8em;
  line-height: 2.8em;
  background: rgba(247, 247, 247, 0.55);
  border-bottom: 1px solid #efefef;
}
.M-dialogHeadTitle {
  font-size: 1.6rem;
  color: #a52a2a;
  font-weight: normal;
}
.M-dialogHeadClose {
  position: absolute;
  right: 0;
  top: 0;
  width: 2.8em;
  height: 2.8em;
  cursor: pointer;
  -webkit-transform-oringin: 50% 50%;
  transform-oringin: 50% 50%;
  -webkit-transform: rotate(0deg) scale(0.5);
  transform: rotate(0deg) scale(0.5);
}
.M-dialogHeadCloseLine {
  position: absolute;
  top: -5px;
  width: 3px;
  height: 3.5em;
  background: #AAA;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.M-dialogHeadCloseLine:nth-child(1) {
  right: 1.4em;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.M-dialogHeadCloseLine:nth-child(2) {
  left: 1.4em;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.rotateCloseForward {
  -webkit-animation-name: rotateCloseForward;
  animation-name: rotateCloseForward;
  -webkit-animation-duration: 50ms;
  animation-duration: 50ms;
  -webkit-animation-timing-function: liner;
  animation-timing-function: liner;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes rotateCloseForward {
  0% {
    -webkit-transform: rotate(0deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(360deg) scale(0.5);
  }
}
@keyframes rotateCloseForward {
  0% {
    transform: rotate(0deg) scale(0.5);
  }
  100% {
    transform: rotate(360deg) scale(0.5);
  }
}
.rotateCloseBack {
  -webkit-animation-name: rotateCloseBack;
  animation-name: rotateCloseBack;
  -webkit-animation-duration: 50ms;
  animation-duration: 50ms;
  -webkit-animation-timing-function: liner;
  animation-timing-function: liner;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes rotateCloseBack {
  0% {
    -webkit-transform: rotate(360deg) scale(0.5);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(0.5);
  }
}
@keyframes rotateCloseBack {
  0% {
    transform: rotate(360deg) scale(0.5);
  }
  100% {
    transform: rotate(0deg) scale(0.5);
  }
}
.M-pager {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
}
.M-pagerList {
  display: inline-block;
}
.M-pagerInfo {
  display: inline-block;
}
.M-pagerInfo .total {
  margin-left: 20px;
  color: #867878;
}
.M-pager input:active,
.M-pager input:focus {
  outline: none;
}
.M-pager .M-pagerItem,
.M-pager .M-pagerPN {
  box-sizing: border-box;
  position: relative;
  margin: 0 8px;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 2px;
  background: #FAFAFA;
  color: #B6AEAE;
  cursor: pointer;
  font-size: 2.1rem;
  transition: background 220ms cubic-bezier(0.42, 0, 0.58, 1);
}
.M-pager .M-pagerItem:hover,
.M-pager .M-pagerPN:hover {
  background: #4D4D4D;
  color: #FFF;
}
.M-pager .M-pagerAct,
.M-pager .M-pagerAct:hover {
  margin: 0px;
  border: none;
  background: none;
  color: #B6AEAE;
  font-style: italic;
  cursor: default;
}
.M-pager .M-pagerOmit,
.M-pager .M-pagerOmit:hover {
  border: none;
  background: none;
  color: #A39A9A;
  cursor: default;
}
.M-commentPager .M-pager {
  width: auto;
  float: right;
  padding: 0;
}
.M-commentPager .M-pagerList {
  display: inline-block;
}
.M-commentPager .M-pager input:active,
.M-commentPager .M-pager input:focus {
  outline: none;
}
.M-commentPager .M-pager .M-pagerItem,
.M-commentPager .M-pager .M-pagerPN {
  box-sizing: border-box;
  position: relative;
  margin: 0 -1px;
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  line-height: 2.5em;
  text-align: center;
  border: 1px solid #dcdcdc;
  border-radius: 0px;
  background: #F5F4F4;
  color: #404040;
  cursor: pointer;
  font-size: 1.6rem;
  transition: background 220ms cubic-bezier(0.42, 0, 0.58, 1);
}
.M-commentPager .M-pager .M-pagerItem:hover,
.M-commentPager .M-pager .M-pagerPN:hover {
  background: #BCBCBC;
  border-color: #BCBCBC;
}
.M-commentPager .M-pager .M-pagerAct,
.M-commentPager .M-pager .M-pagerAct:hover {
  margin: 0px;
  border: none;
  background: none;
  color: #404040;
  font-style: normal;
  cursor: default;
}
.M-commentPager .M-pager .M-pagerOmit,
.M-commentPager .M-pager .M-pagerOmit:hover {
  margin: 0 .5em;
  border: none;
  background: none;
  color: #A39A9A;
  cursor: default;
}
.M-footer {
  width: 75%;
  margin: 0 auto;
  color: #FFF;
  font-size: 1.8rem;
  line-height: 8.0rem;
}
.M-banner {
  width: 100%;
  color: #FFF;
}
.M-bannerCrumbs {
  margin: 0 auto;
  font-style: italic;
  width: 75%;
  min-height: 1.5em;
  padding-top: .8em;
  line-height: 1.2;
  font-size: 1.6rem;
  color: #426B68;
}
.M-bannerCrumbsArrow {
  margin: 0 .4em;
}
.M-bannerArchive {
  display: none;
  width: 100%;
  height: 100%;
}
.M-bannerArchive .content {
  margin: 0 auto;
  width: 75%;
}
.M-bannerArchive .bannerTxt {
  display: inline-block;
  margin-top: .65em;
  font-size: 3.6rem;
}
.M-bannerArticle {
  display: none;
  padding-top: .85em;
  width: 75%;
  height: 100%;
  line-height: 260%;
  margin: 0 auto;
}
.M-bannerArticle .title {
  display: inline-block;
  font-weight: normal;
}
.M-bannerArticle .info {
  color: #E8E7E8;
}
.M-bannerMoods {
  background: rgba(220, 77, 229, 0.5);
}
.M-threeRings {
  padding: 50px 0;
  text-align: center;
}
.M-threeRingsItem {
  width: 25px;
  height: 25px;
  background-color: #383838;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.M-threeRings .ring1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.M-threeRings .ring2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.M-chrysanthemum {
  width: 20px;
  height: 20px;
  position: relative;
}
.M-chrysanthemum .container1 > div,
.M-chrysanthemum .container2 > div,
.M-chrysanthemum .container3 > div {
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.M-chrysanthemum .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.M-chrysanthemum .container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.M-chrysanthemum .container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.M-chrysanthemum .circle1 {
  top: 0;
  left: 0;
}
.M-chrysanthemum .circle2 {
  top: 0;
  right: 0;
}
.M-chrysanthemum .circle3 {
  right: 0;
  bottom: 0;
}
.M-chrysanthemum .circle4 {
  left: 0;
  bottom: 0;
}
.M-chrysanthemum .container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.M-chrysanthemum .container3 .circle1 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.M-chrysanthemum .container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.M-chrysanthemum .container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.M-chrysanthemum .container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.M-chrysanthemum .container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.M-chrysanthemum .container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.M-chrysanthemum .container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.M-chrysanthemum .container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.M-chrysanthemum .container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.M-chrysanthemum .container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.G-frameBodyBlogHead {
  display: none;
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #282828;
  border-bottom: 1px solid #125454;
  box-shadow: 0 1px 1px #22A5A5;
}
.G-frameBodyBlogHead .logoAnchor {
  display: block;
  position: relative;
  color: #8FE8E2;
  font-size: 2.6rem;
  font-weight: bold;
}
.G-frameBodyBlogHead .logoAnchor:hover {
  color: #ddff00;
}
.G-frameBodyBlogHead ul {
  float: left;
  padding-left: 4em;
}
.G-frameBodyBlogHead li {
  display: inline-block;
  margin-right: 2em;
  font-size: 1.8rem;
}
.G-frameBodyBlogHead li a {
  color: #FFF;
  -webkit-transition: color 218ms cubic-bezier(0.3, 0, 0.6, 1);
  transition: color 218ms cubic-bezier(0.3, 0, 0.6, 1);
}
.G-frameBodyBlogHead li a:hover {
  color: #FFFF00;
}
.G-frameBodyBlogHead li a.act {
  color: #FFFF00;
  letter-spacing: 1px;
}
.M-head {
  width: 75%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.M-headLogo {
  display: inline-block;
  float: left;
  max-width: 10em;
  height: 100%;
  line-height: 70px;
  z-index: 3;
}
.M-headNav {
  display: inline-block;
  height: 100%;
  line-height: 70px;
  z-index: 2;
}
.M-headTool {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  max-width: 15em;
  z-index: 3;
}
.M-headToolSearch {
  position: relative;
  top: 1.3em;
  height: 2em;
  line-height: 2em;
}
.M-headToolSearch .searchBtn {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: .1em;
  right: 0;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
  z-index: 1;
}
.M-headToolSearch .searchBtn .circle,
.M-headToolSearch .searchBtn .line {
  display: block;
  position: absolute;
  transition: border-color 218ms cubic-bezier(0.42, 0, 0.58, 1);
}
.M-headToolSearch .searchBtn .circle {
  top: 2px;
  left: 4px;
  width: 50%;
  height: 50%;
  border: 3px solid #B6B6B6;
  border-radius: 50%;
}
.M-headToolSearch .searchBtn .line {
  bottom: 2px;
  right: -3px;
  width: 12px;
  height: 0;
  border: 2px solid #B6B6B6;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
.M-headToolSearch .searchBtn:hover .circle,
.M-headToolSearch .searchBtn:hover .line {
  border-color: #FFF;
}
.M-headToolSearch .searchIpt {
  display: none;
  padding: .5em 1.8em .5em .5em;
  position: relative;
  top: -0.65em;
  right: -2.3em;
  max-width: 10em;
  opacity: 1;
  border: none;
  background: rgba(238, 238, 238, 0.45);
  outline: none;
  border-radius: .2em;
  z-index: 0;
  color: #FFF;
  cursor: default;
}
.M-headToolSearch .inputReady {
  -webkit-animation-name: beLonger;
  animation-name: beLonger;
  -webkit-animation-duration: 300ms;
  animation-duration: 300ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes beLonger {
  0% {
    width: 0em;
  }
  10% {
    width: 2em;
  }
  100% {
    width: 10.5em;
  }
}
@keyframes beLonger {
  0% {
    width: 0em;
  }
  10% {
    width: 2em;
  }
  100% {
    width: 10.5em;
  }
}
.M-headToolSearch .inputInit {
  -webkit-animation-name: beInit;
  animation-name: beInit;
  -webkit-animation-duration: 350ms;
  animation-duration: 350ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes beInit {
  0% {
    width: 10em;
    opacity: 1;
  }
  100% {
    width: 0em;
    opacity: 0;
  }
}
@keyframes beInit {
  0% {
    width: 10em;
    opacity: 1;
  }
  100% {
    width: 0em;
    opacity: 0;
  }
}
.M-headToolOption {
  height: 100%;
}
.M-headToolOption .btn {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -11px;
  padding: 6px 5px 5px 5px;
  width: 20px;
  height: 15px;
  border: 1px solid #282828;
  border-radius: 1px;
  cursor: pointer;
}
.M-headToolOption .btn span {
  display: block;
  width: 100%;
  height: 1px;
  background: #B6B6B6;
  margin-bottom: 5px;
}
.M-headToolOption .btn:hover span {
  background: #FFF;
}
.M-comment {
  width: 75%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 3.5em;
}
.M-commentLine {
  width: 100%;
  position: relative;
  height: 0;
  border-bottom: 1px dotted #a52a2a;
  top: 1em;
  z-index: 2;
}
.M-commentHead {
  padding-bottom: 1em;
}
.M-commentHeadTitle {
  position: relative;
  left: -0.5em;
  padding: 0 .5em;
  display: inline-block;
  font-size: 2rem;
  font-weight: normal;
  color: #a52a2a;
  z-index: 3;
  background: #fff;
}
.M-commentHeadAdd {
  float: right;
  width: 18px;
  height: 25px;
  position: relative;
  top: 0;
  left: 0.15em;
  padding: 0 .5em;
  color: #A52A2A;
  background: #ffffff url(../icons/icons.png) 6px 0 no-repeat;
  z-index: 3;
  cursor: pointer;
}
.M-commentList {
  position: relative;
}
.M-commentList:after {
  display: block;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 3.5em;
  width: 2px;
  background-color: #E4E2E2;
  z-index: -1;
}
.M-commentIssuse {
  margin-bottom: 1.5em;
  border-radius: 2px;
  background: #fff;
  color: #666;
  z-index: 1;
  border: 1px solid #E4E2E2;
  transition: all 218ms cubic-bezier(0.42, 0, 0.58, 1);
}
.M-commentIssuse:hover {
  color: #333;
  border-color: #CCC;
  box-shadow: 2px 2px 5px #eeeeee, -2px -2px 5px #eeeeee;
}
.M-commentIssuseHead {
  padding: .6em .5em;
  background: rgba(247, 247, 247, 0.75);
  border-bottom: 1px solid #efefef;
}
.M-commentIssuseHeadFloor {
  margin-right: .8em;
  color: #aaa;
  font-weight: normal;
}
.M-commentIssuseHeadNick {
  font-weight: normal;
  color: #a52a2a;
}
.M-commentIssuseHeadNickAdmin {
  color: #FF8000;
  font-weight: bold;
}
.M-commentIssuseHeadAddress {
  margin: 0 1em;
  color: #999;
  font-size: 1.4rem;
}
.M-commentIssuseHeadTime {
  color: #938E8E;
  font-size: 1.4rem;
}
.M-commentIssuseHeadOp {
  float: right;
  display: none;
  font-size: 1.5rem;
  padding-right: 2em;
}
.M-commentIssuseHeadOp .op {
  display: inline-block;
  width: 24px;
  height: 20px;
  margin-left: 1em;
  cursor: pointer;
}
.M-commentIssuseHeadOp .reply {
  background: url(../icons/icons.png) 0px -28px no-repeat;
}
.M-commentIssuseHeadOp .likes,
.M-commentIssuseHeadOp .dislikes {
  font-style: normal;
}
.M-commentIssuseContent {
  padding: .6em 1em;
  line-height: 150%;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑';
}
.M-commentIssuseContentParentHead {
  padding-bottom: .5em;
  color: #D0AC74;
}
.M-commentIssuseContentParentHead .nick {
  margin: 0 .3em;
  color: #0080c0;
}
.M-commentIssuseContentParentContent {
  padding: .5em;
  color: #999;
  margin-bottom: .8em;
  font-size: 1.5rem;
  font-style: italic;
  background: #F8F8F8;
  border-left: 5px solid #DDD;
}
.M-commentEmpty {
  position: relative;
  top: -1.5em;
}
.M-commentEmptyWrap {
  position: relative;
  margin: 0 auto;
  width: 10em;
  height: 8em;
  cursor: pointer;
  -webkit-transform: scale(0.7);
  transform: scale(0.7);
}
.M-commentEmptyWrap > div {
  position: absolute;
  background: #E4E4E4;
}
.M-commentEmptyTxt {
  color: #B3B3B3;
  text-align: center;
}
.M-commentEmptyLeftHand {
  left: 1em;
  top: 1.4em;
  width: 15%;
  height: 70%;
  border-radius: 100% 20% 65% 100%;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.M-commentEmptyRightHand {
  right: 1em;
  top: 1.4em;
  width: 15%;
  height: 70%;
  border-radius: 20% 100% 100% 65%;
  -webkit-transform-origin: bottom;
  transform-origin: bottom;
  -webkit-transform: rotate(8deg);
  transform: rotate(8deg);
}
.M-commentEmptyCushion {
  left: 50%;
  bottom: 1em;
  bottom: .5em;
  width: 76%;
  height: 25%;
  margin-left: -38%;
  border-radius: 5% 5% 50% 50%;
}
.M-commentEmptyFootLeft {
  left: 2.5em;
  bottom: 0em;
  width: 1em;
  height: 1.5em;
}
.M-commentEmptyFootRight {
  right: 2.5em;
  bottom: 0em;
  width: 1em;
  height: 1.5em;
}
.M-commentEmptyFootBack {
  left: 50%;
  top: .4em;
  width: 50%;
  margin-left: -25%;
  height: 60%;
  border-radius: 10%;
}
.M-commentPager {
  min-height: 1em;
  padding-top: 1em;
}
.M-commentForm {
  position: relative;
  padding: 1.5em;
}
.M-commentForm input,
.M-commentForm textarea {
  border: 1px solid #DDD;
  border-radius: 2px;
  background: #FFF;
  outline: none;
  line-height: 1.5;
  font-size: 1.4rem;
  transition: all linear .5s;
}
.M-commentForm input:focus,
.M-commentForm textarea:focus {
  background: #F7FDFD;
  box-shadow: 1px 1px 8px #eeeeee, -1px -1px 8px #eeeeee;
}
.M-commentForm .compent {
  display: block;
  width: 100%;
  box-sizing: border-box;
}
.M-commentFormText {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  height: 7em;
  padding: .5em;
  resize: none;
}
.M-commentFormNick {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 1.6em auto;
  height: 40px;
  padding: .8em;
}
.M-commentFormLink {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 1.6em auto;
  height: 40px;
  padding: .8em;
}
.M-commentFormFooter {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
}
.M-commentFormFooter button {
  float: right;
  padding: .5em 1em;
  border: none;
  cursor: pointer;
  outline: none;
  opacity: 1;
  transition: all 218ms cubic-bezier(0.42, 0, 0.58, 1);
}
.M-commentFormFooterReset {
  background: #FFF;
  color: #0080C0;
}
.M-commentFormFooterReset:hover {
  background: #f4f4f4;
}
.M-commentFormFooterSubmit {
  margin-left: .5em;
  background: #0d8454;
  color: #FFF;
}
.M-commentFormFooterSubmit:hover {
  opacity: .8;
}
.M-commentFormFooterCode {
  float: left;
  box-sizing: border-box;
  width: 7em;
  height: 36px;
  line-height: 1.5;
  padding: .8em;
}
.M-commentFormFooterPic {
  float: left;
  box-sizing: border-box;
  width: 90px;
  height: 35px;
  margin-left: 1em;
  cursor: pointer;
  border-radius: 2px;
}
.M-commentFormFooterTips {
  font-size: 1.4rem;
  color: #0D8454;
  line-height: 2.5;
  margin-left: 1em;
}
.M-commentFormMask {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  line-height: 9;
  font-size: 2.2rem;
  color: #008000;
  background: rgba(255, 255, 255, 0.8);
}
.M-commentError {
  text-align: center;
  color: #FF5700 !important;
}
.M-tooltip {
  position: absolute;
  left: 0;
  top: 0;
  /*箭头向上*/

  /*箭头向下*/

}
.M-tooltipContent {
  display: block;
  padding: .8em;
  font-size: 1.4rem;
  color: #FF6100;
  width: 200px;
  border: 1px solid #FFE1C3;
  border-radius: 2px;
  background: #FFF9EC;
  box-shadow: 2px 2px 6px #eee;
}
.M-tooltipArrowDown {
  display: none;
  position: relative;
  left: 15px;
  height: 14px;
}
.M-tooltipArrowUp {
  display: none;
  position: relative;
  left: 15px;
  height: 14px;
}
.M-tooltip .arrow-up-border {
  position: absolute;
  bottom: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid #FFE1C3;
}
.M-tooltip .arrow-up-bg {
  position: absolute;
  bottom: -2px;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 14px solid #FFF9EC;
}
.M-tooltip .arrow-down-border {
  position: absolute;
  top: 0;
  z-index: 1;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 14px solid #FFE1C3;
}
.M-tooltip .arrow-down-bg {
  position: absolute;
  top: -2px;
  z-index: 2;
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-top: 14px solid #FFF9EC;
}
.P-404 {
  width: 1000px;
  padding-top: 2em;
  margin: 0 auto;
}
.P-404 .containerLeft {
  float: left;
  width: 420px;
}
.P-404 .containerRight {
  float: left;
  width: 500px;
  padding-top: 9em;
  line-height: 200%;
}
.P-404 .containerRight .title {
  font-weight: normal;
}
.P-404 .containerRight .handle {
  padding-top: 1em;
}
.P-404 .containerRight .reason {
  text-indent: 2em;
}
.P-404 .containerRight .reason span {
  margin-left: .5em;
  color: #AAA;
  font-style: italic;
}
.P-404 .containerRight .btn {
  margin: 0 .5em;
}
.P-404 .P-obscener {
  width: 90%;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  margin: 0 auto;
}
.P-404 .P-obscener div {
  width: 100%;
  margin: 0 auto;
}
.P-404 .P-obscener .head,
.P-404 .P-obscener .upperBody,
.P-404 .P-obscener .privateBody,
.P-404 .P-obscener .lowerBody,
.P-404 .P-obscener .foot {
  position: relative;
}
.P-404 .P-obscener .head {
  width: 20%;
  height: 110px;
}
.P-404 .P-obscener .head .hair {
  position: absolute;
  left: -4px;
  top: 0;
  width: 110%;
  height: 45px;
  background: gray;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.P-404 .P-obscener .head .face {
  position: absolute;
  top: 25px;
  left: 0;
  height: 90px;
  background: #DDD;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.P-404 .P-obscener .head .face .left-eye,
.P-404 .P-obscener .head .face .right-eye {
  position: absolute;
  top: 10px;
  width: 20px;
  height: 30px;
  background: #FFF;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
.P-404 .P-obscener .head .face .left-eye {
  left: 10px;
}
.P-404 .P-obscener .head .face .right-eye {
  right: 10px;
}
.P-404 .P-obscener .head .face .left-eye:after,
.P-404 .P-obscener .head .face .right-eye:after {
  content: '~~';
  position: absolute;
  left: 4px;
  bottom: 0;
  width: 15px;
  height: 10px;
  background: #666;
  border-radius: 10px 10px 0 0;
  color: #FFF;
  font-size: 2.0rem;
  line-height: 1.5;
}
.P-404 .P-obscener .head .face .mouth {
  position: absolute;
  top: 55px;
  left: 18px;
  width: 40px;
  height: 20px;
  background-color: #FFF;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
}
.P-404 .P-obscener .head .face .mouth .tooth {
  display: inline-block;
  height: 100%;
  width: 5px;
  border-right: 1px solid #F1F1F1;
}
.P-404 .P-obscener .upperBody {
  width: 55%;
  height: 150px;
}
.P-404 .P-obscener .upperBody .arm {
  position: absolute;
  width: 12px;
  height: 100px;
  background: #CCC;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.P-404 .P-obscener .upperBody .upleft {
  top: 0;
  left: 22px;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.P-404 .P-obscener .upperBody .upRight {
  top: 0;
  right: 22px;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.P-404 .P-obscener .upperBody .lowerleft {
  top: 85px;
  left: 50px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.P-404 .P-obscener .upperBody .lowerRight {
  top: 85px;
  right: 50px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.P-404 .P-obscener .privateBody {
  width: 34%;
  height: 45px;
  line-height: 45px;
  text-align: center !important;
  letter-spacing: .1em;
  font-size: 3.4rem;
  background: #429314;
  color: #FFF;
  border-radius: 5%;
  z-index: 5;
}
.P-404 .P-obscener .lowerBody {
  width: 55%;
  height: 222px;
  z-index: 4;
}
.P-404 .P-obscener .lowerBody .leg {
  position: absolute;
  width: 12px;
  height: 130px;
  background: #CCC;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.P-404 .P-obscener .lowerBody .upleft {
  top: -5px;
  left: 70px;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.P-404 .P-obscener .lowerBody .upRight {
  top: -5px;
  right: 70px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.P-404 .P-obscener .lowerBody .lowerleft {
  top: 114px;
  left: 62px;
  height: 115px;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}
.P-404 .P-obscener .lowerBody .lowerRight {
  top: 114px;
  right: 62px;
  height: 115px;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
.P-404 .P-obscener .foot {
  width: 34%;
  height: 30px;
  z-index: 5;
}
.P-404 .P-obscener .foot .shoe {
  width: 45px;
  height: 15px;
  position: absolute;
  background: #CCC;
}
.P-404 .P-obscener .foot .left {
  top: 0;
  left: 0;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 30%;
  -webkit-transform-origin: top;
  -webkit-transform: rotate(10deg);
  transform-origin: top;
  transform: rotate(10deg);
}
.P-404 .P-obscener .foot .right {
  top: 0;
  right: 0;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 30%;
  -webkit-transform-origin: top;
  -webkit-transform: rotate(-10deg);
  transform-origin: top;
  transform: rotate(-10deg);
}
.P-archives .P-archive-list {
  width: 75%;
  min-height: 200px;
  margin: 0 auto;
}
.P-archives section {
  padding: 1.5em 0;
  box-sizing: border-box;
  border-radius: 2px;
  border-bottom: 1px dashed #999;
}
.P-archives section h2 {
  padding: 6px 0;
  font-weight: normal;
  font-size: 2.2rem;
  padding-left: 10px;
}
.P-archives section article {
  margin: 1em 2em;
  padding: 1em 1.5em;
  color: #444;
  line-height: 150%;
  background: #FAF9F9;
  border-left: 8px solid #DDD;
}
.P-archives section article .abstract {
  display: inline-block;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑';
}
.P-archives section article .cover {
  display: inline-block;
  margin-top: 15px;
  border: 1px solid #DDD;
}
.P-archives section:last-child {
  border-bottom: none;
}
.P-archive-list-title .title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: normal;
  color: #1EA096;
  transition: color 218ms cubic-bezier(0.42, 0, 0.58, 1);
}
.P-archive-list-title .title:hover {
  color: #F27900;
}
.P-archive-list-info {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #666;
  font-style: italic;
  font-size: 1.4rem;
}
.P-archive-pager {
  border-top: 3px solid #EDEDED;
  background: #F5F5F4;
}
.P-search-list {
  width: 75%;
  min-height: 200px;
  margin: 0 auto;
  padding: 1.5em 0;
}
.P-search-list .keyword {
  color: red;
  font-weight: normal;
}
.P-search-list .section {
  border: none;
}
.P-search-list .section .title {
  font-size: 2.0rem;
}
.P-search-list .section .brief {
  padding: 1rem 0;
  color: #666;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑';
}
.P-search-list .section .info {
  font-size: 1.4rem;
  font-style: italic;
  color: #999;
}
.P-article .content {
  width: 75%;
  margin: 0 auto;
  padding: 1em 0 3em 0;
}
.P-article .content article {
  font-size: 1.6rem;
  line-height: 150%;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑';
}
.P-article .content article a {
  text-decoration: underline;
}
.P-article .content article p {
  padding-top: 1.8rem;
}
.P-article .content article img {
  display: inline-block;
  position: relative;
  border: 4px solid #E8E4E1;
  border-radius: 2px;
}
.P-article .content article p > img {
  margin-top: -1em;
}
.P-article .content article ul,
.P-article .content article ol {
  margin-top: .4em;
  padding: .7em 1.4em;
  list-style-type: circle;
  list-style-position: inside;
  background: #F8F8F8;
  font-size: 1.4rem;
}
.P-article .content article ul li,
.P-article .content article ol li {
  padding: .2em 0;
}
.P-article .content article blockquote {
  margin-top: .4em;
  padding: 1em;
  background: #F8F8F8;
  border-left: 6px solid #DDD;
  font-size: 1.4rem;
}
.P-article .content article blockquote p {
  padding: 0;
}
.P-article pre {
  box-sizing: border-box;
  width: 100%;
  padding: 1.5em;
  margin-top: 0.3em;
  overflow: auto;
  border: 8px solid #DDD;
  border-radius: .5em;
  position: relative;
  font-size: 1.5rem;
  background: #272822;
}
.noData {
  width: 75%;
  margin: 0 auto;
  text-align: center !important;
  padding-top: 3em;
  font-size: xx-large;
  color: red;
}
.M-index {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 70%;
}
.M-indexWraper {
  position: absolute;
  left: -50%;
  width: 100%;
}
.M-indexWraper .myBlog {
  display: block;
  width: 25%;
  min-width: 250px;
  margin: 0 auto;
  cursor: pointer;
  margin: auto auto;
  font-weight: normal;
  color: #563d7c;
  border: 2px solid #79429E;
  padding: 15px 20px;
  line-height: 1.3;
  -webkit-transition: all 444ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 444ms cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 2px;
  box-shadow: -1px 3px 8px #63a6dd, 1px -3px 8px #63a6dd;
  background: #A7CCEF;
}
.M-indexWraper .myBlog:hover {
  border-color: #EFEFEF;
  color: #fff;
  box-shadow: -1px 3px 8px #cccccc, 1px -3px 8px #cccccc;
}
