@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  border: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #FFF;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
  font-size: 1.6rem;
  color: #000;
  min-width: 320px;
}
input,
textarea,
button {
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
  font-size: 1.4rem;
}
ul,
ol {
  list-style-type: none;
}
img {
  border: none;
}
a {
  color: #0080c0;
  text-decoration: none;
  transition: color 218ms cubic-bezier(0.42, 0, 0.58, 1);
}
a:hover {
  color: #ff8000;
  cursor: pointer;
}
::selection {
  color: #FFFF00;
  background-color: rgba(34, 182, 171, 0.7);
}
#MAIN {
  width: 100%;
  height: 100%;
}
#LOADING {
  display: none;
  width: 100%;
  height: 100%;
}
.center {
  margin: 0 auto;
}
.head-fixed {
  position: fixed;
  z-index: 10;
  right: 0;
  left: 0;
  top: 0;
}
.overflowHidden {
  overflow: hidden;
}
.tc {
  text-align: center !important;
}
.tl {
  text-align: left !important;
}
.tr {
  text-align: right !important;
}
.ti {
  font-style: italic;
}
.tdef {
  font-style: italic;
  text-align: center;
  color: #ccc;
}
.text_limit {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.db {
  display: block;
}
.dib {
  display: inline-block;
}
.fts12 {
  font-size: 1.2rem !important;
}
.fts13 {
  font-size: 1.3rem !important;
}
.fts14 {
  font-size: 1.4rem !important;
}
.fts15 {
  font-size: 1.5rem !important;
}
.fts16 {
  font-size: 1.6rem !important;
}
.fts18 {
  font-size: 1.8rem !important;
}
.fts20 {
  font-size: 2.0rem !important;
}
.fts22 {
  font-size: 2.2rem !important;
}
.fts24 {
  font-size: 2.4rem !important;
}
.fts26 {
  font-size: 2.6rem !important;
}
.lsp0 {
  letter-spacing: .0 !important;
}
.lsp1 {
  letter-spacing: .1em !important;
}
.lsp2 {
  letter-spacing: .2em !important;
}
.lsp3 {
  letter-spacing: .3em !important;
}
.lsp4 {
  letter-spacing: .4em !important;
}
.lsp5 {
  letter-spacing: .5em !important;
}
.pd20 {
  padding: 20px !important;
}
.pb20 {
  padding-bottom: 20px !important;
}
.pt20 {
  padding-top: 20px !important;
}
.pl20 {
  padding-left: 20px !important;
}
.pr20 {
  padding-right: 20px !important;
}
.pd15 {
  padding: 15px !important;
}
.pb15 {
  padding-bottom: 15px !important;
}
.pt15 {
  padding-top: 15px !important;
}
.pl15 {
  padding-left: 15px !important;
}
.pr15 {
  padding-right: 15px !important;
}
.pd10 {
  padding: 10px !important;
}
.pb10 {
  padding-bottom: 10px !important;
}
.pt10 {
  padding-top: 10px !important;
}
.pl10 {
  padding-left: 10px !important;
}
.pr10 {
  padding-right: 10px !important;
}
.pd5 {
  padding: 5px !important;
}
.pb5 {
  padding-bottom: 5px !important;
}
.pt5 {
  padding-top: 5px !important;
}
.pl5 {
  padding-left: 5px !important;
}
.pr5 {
  padding-right: 5px !important;
}
.ml20 {
  margin-left: 20px !important;
}
.mr20 {
  margin-right: 20px !important;
}
.mb20 {
  margin-bottom: 20px !important;
}
.mt20 {
  margin-top: 20px !important;
}
.ml15 {
  margin-left: 15px !important;
}
.mr15 {
  margin-right: 15px !important;
}
.mb15 {
  margin-bottom: 15px !important;
}
.mt15 {
  margin-top: 15px !important;
}
.ml10 {
  margin-left: 10px !important;
}
.mr10 {
  margin-right: 10px !important;
}
.mb10 {
  margin-bottom: 10px !important;
}
.mt10 {
  margin-top: 10px !important;
}
.ml5 {
  margin-left: 5px !important;
}
.mr5 {
  margin-right: 5px !important;
}
.mb5 {
  margin-bottom: 5px !important;
}
.mt5 {
  margin-top: 5px !important;
}
.pr {
  position: relative;
}
.pa {
  position: absolute;
}
.top-left {
  top: 0;
  left: 0;
}
.top-right {
  top: 0;
  right: 0;
}
.bottom-left {
  bottom: 0;
  left: 0;
}
.bottom-right {
  bottom: 0;
  right: 0;
}
.cur_p {
  cursor: pointer;
}
.cur_d {
  cursor: default;
}
.cl {
  clear: both;
}
.clear {
  clear: both;
}
.clear:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.clearBox {
  display: block;
  overflow: hidden;
  height: 0px;
  width: 0px;
  clear: both;
}
.clearMargin:before {
  display: table-column;
  content: "";
  height: 0;
  width: 0;
  overflow: hidden;
}
.G-frame {
  width: 100%;
  margin: 0 auto;
  height: 100%;
}
.G-frameBody {
  position: relative;
  height: 100%;
}
.G-frameBodyIndex {
  width: 100%;
  height: 100%;
  background: #a0c5e8;
  overflow: hidden;
}
.G-frameBodyIndexHead {
  display: none;
  width: 100%;
  height: 40px;
  line-height: 40px;
  overflow: hidden;
  background: #5F5A5A;
  border-bottom: 4px solid #444;
}
.G-frameBodyIndexHead ul {
  float: right;
  padding-left: 40px;
}
.G-frameBodyIndexHead li {
  display: inline-block;
  margin-right: 2.5em;
  font-size: 1.5rem;
}
.G-frameBodyIndexHead li a {
  color: #FFF;
}
.G-frameBodyIndexHead li a.act {
  color: #f9f612;
}
.G-frameBodyIndexContent {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.G-frameBodyIndexFooter {
  display: none;
}
.G-frameBodyBlog {
  display: none;
  width: 100%;
  min-height: 500px;
}
.G-frameBodyBlogHead {
  display: none;
  width: 100%;
  height: 70px;
  overflow: hidden;
  background: #282828;
  border-bottom: 1px solid #125454;
  box-shadow: 0 1px 1px #22A5A5;
}
.G-frameBodyBlogHead .logoAnchor {
  display: block;
  position: relative;
  color: #2AADA3;
  font-size: 3.0rem;
  font-weight: bold;
}
.G-frameBodyBlogHead .logoAnchor:hover {
  color: #8FE8E2;
}
.G-frameBodyBlogHead ul {
  float: right;
  padding-left: 40px;
}
.G-frameBodyBlogHead li {
  display: inline-block;
  margin-right: 2em;
  font-size: 1.8rem;
}
.G-frameBodyBlogHead li a {
  color: #FFF;
  -webkit-transition: color 218ms cubic-bezier(0.3, 0, 0.6, 1);
  transition: color 218ms cubic-bezier(0.3, 0, 0.6, 1);
}
.G-frameBodyBlogHead li a:hover {
  color: #FFFF00;
}
.G-frameBodyBlogHead li a.act {
  color: #FFFF00;
  letter-spacing: 1px;
}
.G-frameBodyBlogBanner {
  position: relative;
  width: 100%;
  padding-top: 70px;
  min-height: 180px;
  background: #22B6AB;
}
.G-frameBodyBlogArchive {
  width: 100%;
  box-sizing: border-box;
}
.G-frameBodyBlogArticle {
  width: 100%;
  box-sizing: border-box;
}
.G-frameBodyBlogFooter {
  position: relative;
  width: 100%;
  min-height: 80px;
  background: #404040;
}
.G-frameBodyBlank {
  position: relative;
}
.M-pager {
  width: 75%;
  margin: 0 auto;
  padding: 50px 0;
}
.M-pagerList {
  display: inline-block;
}
.M-pagerInfo {
  display: inline-block;
}
.M-pagerInfo .total {
  margin-left: 20px;
  color: #867878;
}
.M-pager input:active,
.M-pager input:focus {
  outline: none;
}
.M-pager .M-pagerItem,
.M-pager .M-pagerPN {
  box-sizing: border-box;
  position: relative;
  margin: 0 8px;
  display: inline-block;
  width: 45px;
  height: 45px;
  line-height: 40px;
  text-align: center;
  border: 1px solid #DDD;
  border-radius: 2px;
  background: #FAFAFA;
  color: #B6AEAE;
  cursor: pointer;
  font-size: 2.1rem;
  transition: background 220ms cubic-bezier(0.42, 0, 0.58, 1);
}
.M-pager .M-pagerItem:hover,
.M-pager .M-pagerPN:hover {
  background: #4D4D4D;
  color: #FFF;
}
.M-pager .M-pagerAct,
.M-pager .M-pagerAct:hover {
  margin: 0px;
  border: none;
  background: none;
  color: #B6AEAE;
  font-style: italic;
  cursor: default;
}
.M-pager .M-pagerOmit,
.M-pager .M-pagerOmit:hover {
  border: none;
  background: none;
  color: #A39A9A;
  cursor: default;
}
.M-footer {
  width: 75%;
  margin: 0 auto;
  color: #FFF;
  font-size: 1.8rem;
  line-height: 8.0rem;
}
.M-banner {
  width: 100%;
  color: #FFF;
}
.M-bannerCrumbs {
  margin: 0 auto;
  font-style: italic;
  width: 75%;
  min-height: 1.5em;
  padding-top: .8em;
  line-height: 1.2;
  font-size: 1.6rem;
  color: #426B68;
}
.M-bannerCrumbsArrow {
  margin: 0 .4em;
}
.M-bannerArchive {
  display: none;
  width: 100%;
  height: 100%;
}
.M-bannerArchive .content {
  margin: 0 auto;
  width: 75%;
}
.M-bannerArchive .bannerTxt {
  margin-top: .65em;
  font-size: 3.6rem;
}
.M-bannerArticle {
  display: none;
  padding-top: .85em;
  width: 75%;
  height: 100%;
  line-height: 260%;
  margin: 0 auto;
}
.M-bannerArticle .title {
  font-weight: normal;
}
.M-bannerArticle .info {
  color: #E8E7E8;
}
.M-bannerMoods {
  background: rgba(220, 77, 229, 0.5);
}
.M-threeRings {
  padding: 50px 0;
  text-align: center;
}
.M-threeRingsItem {
  width: 25px;
  height: 25px;
  background-color: #383838;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */

  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.M-threeRings .ring1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.M-threeRings .ring2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.M-chrysanthemum {
  padding: 50px 0;
  width: 20px;
  height: 20px;
  position: relative;
}
.M-chrysanthemum .container1 > div,
.M-chrysanthemum .container2 > div,
.M-chrysanthemum .container3 > div {
  width: 6px;
  height: 6px;
  background-color: #333;
  border-radius: 100%;
  position: absolute;
  -webkit-animation: bouncedelay 1.2s infinite ease-in-out;
  animation: bouncedelay 1.2s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.M-chrysanthemum .spinner-container {
  position: absolute;
  width: 100%;
  height: 100%;
}
.M-chrysanthemum .container2 {
  -webkit-transform: rotateZ(45deg);
  transform: rotateZ(45deg);
}
.M-chrysanthemum .container3 {
  -webkit-transform: rotateZ(90deg);
  transform: rotateZ(90deg);
}
.M-chrysanthemum .circle1 {
  top: 0;
  left: 0;
}
.M-chrysanthemum .circle2 {
  top: 0;
  right: 0;
}
.M-chrysanthemum .circle3 {
  right: 0;
  bottom: 0;
}
.M-chrysanthemum .circle4 {
  left: 0;
  bottom: 0;
}
.M-chrysanthemum .container2 .circle1 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.M-chrysanthemum .container3 .circle1 {
  -webkit-animation-delay: -1s;
  animation-delay: -1s;
}
.M-chrysanthemum .container1 .circle2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.M-chrysanthemum .container2 .circle2 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
.M-chrysanthemum .container3 .circle2 {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s;
}
.M-chrysanthemum .container1 .circle3 {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s;
}
.M-chrysanthemum .container2 .circle3 {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s;
}
.M-chrysanthemum .container3 .circle3 {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s;
}
.M-chrysanthemum .container1 .circle4 {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s;
}
.M-chrysanthemum .container2 .circle4 {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s;
}
.M-chrysanthemum .container3 .circle4 {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s;
}
@-webkit-keyframes bouncedelay {
  0%,
  80%,
  100% {
    -webkit-transform: scale(0);
  }
  40% {
    -webkit-transform: scale(1);
  }
}
@keyframes bouncedelay {
  0%,
  80%,
  100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}
.M-head {
  width: 75%;
  height: 100%;
  position: relative;
  margin: 0 auto;
}
.M-headLogo {
  float: left;
  height: 100%;
  line-height: 70px;
}
.M-headNav {
  height: 100%;
  line-height: 70px;
}
.M-headTool {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  max-width: 20%;
}
.M-headToolSearch {
  position: relative;
  padding-right: 2em;
  top: 1.3em;
  height: 2em;
  line-height: 2em;
}
.M-headToolSearch .searchBtn {
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  position: relative;
  top: .1em;
  right: -1.5em;
  -webkit-transform: scale(0.58);
  transform: scale(0.58);
  z-index: 1;
}
.M-headToolSearch .searchBtn .circle,
.M-headToolSearch .searchBtn .line {
  display: block;
  position: absolute;
}
.M-headToolSearch .searchBtn .circle {
  top: 2px;
  left: 4px;
  width: 50%;
  height: 50%;
  border: 3px solid #B6B6B6;
  border-radius: 50%;
}
.M-headToolSearch .searchBtn .line {
  bottom: 2px;
  right: -3px;
  width: 12px;
  height: 0;
  border: 2px solid #B6B6B6;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
  -webkit-transform: rotate(50deg);
  transform: rotate(50deg);
}
.M-headToolSearch .searchBtn:hover .circle,
.M-headToolSearch .searchBtn:hover .line {
  border-color: #FFF;
}
.M-headToolSearch .searchIpt {
  padding: .3em .5em;
  position: relative;
  top: -0.65em;
  width: 40px;
  border: none;
  background: #EEE;
  outline: none;
  border-radius: .2em;
  z-index: 0;
}
.M-headToolOption {
  height: 100%;
}
.M-headToolOption .btn {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -11px;
  padding: 6px 5px 5px 5px;
  width: 20px;
  height: 15px;
  border: 1px solid #282828;
  border-radius: 1px;
  cursor: pointer;
}
.M-headToolOption .btn span {
  display: block;
  width: 100%;
  height: 1px;
  background: #B6B6B6;
  margin-bottom: 5px;
}
.M-headToolOption .btn:hover span {
  background: #FFF;
}
.P-404 {
  width: 1000px;
  padding-top: 2em;
  margin: 0 auto;
}
.P-404 .containerLeft {
  float: left;
  width: 420px;
}
.P-404 .containerRight {
  float: left;
  width: 500px;
  padding-top: 9em;
  line-height: 200%;
}
.P-404 .containerRight .title {
  font-weight: normal;
}
.P-404 .containerRight .handle {
  padding-top: 1em;
}
.P-404 .containerRight .reason {
  text-indent: 2em;
}
.P-404 .containerRight .reason span {
  margin-left: .5em;
  color: #AAA;
  font-style: italic;
}
.P-404 .containerRight .btn {
  margin: 0 .5em;
}
.P-404 .P-obscener {
  width: 90%;
  -webkit-transform: scale(0.75);
  transform: scale(0.75);
  margin: 0 auto;
}
.P-404 .P-obscener div {
  width: 100%;
  margin: 0 auto;
}
.P-404 .P-obscener .head,
.P-404 .P-obscener .upperBody,
.P-404 .P-obscener .privateBody,
.P-404 .P-obscener .lowerBody,
.P-404 .P-obscener .foot {
  position: relative;
}
.P-404 .P-obscener .head {
  width: 20%;
  height: 110px;
}
.P-404 .P-obscener .head .hair {
  position: absolute;
  left: -4px;
  top: 0;
  width: 110%;
  height: 45px;
  background: gray;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
}
.P-404 .P-obscener .head .face {
  position: absolute;
  top: 25px;
  left: 0;
  height: 90px;
  background: #DDD;
  border-top-left-radius: 10%;
  border-top-right-radius: 10%;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.P-404 .P-obscener .head .face .left-eye,
.P-404 .P-obscener .head .face .right-eye {
  position: absolute;
  top: 10px;
  width: 20px;
  height: 30px;
  background: #FFF;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
}
.P-404 .P-obscener .head .face .left-eye {
  left: 10px;
}
.P-404 .P-obscener .head .face .right-eye {
  right: 10px;
}
.P-404 .P-obscener .head .face .left-eye:after,
.P-404 .P-obscener .head .face .right-eye:after {
  content: '~~';
  position: absolute;
  left: 4px;
  bottom: 0;
  width: 15px;
  height: 10px;
  background: #666;
  border-radius: 10px 10px 0 0;
  color: #FFF;
  font-size: 2.0rem;
  line-height: 1.5;
}
.P-404 .P-obscener .head .face .mouth {
  position: absolute;
  top: 55px;
  left: 18px;
  width: 40px;
  height: 20px;
  background-color: #FFF;
  border-radius: 40px 40px 0 0;
  overflow: hidden;
}
.P-404 .P-obscener .head .face .mouth .tooth {
  display: inline-block;
  height: 100%;
  width: 5px;
  border-right: 1px solid #F1F1F1;
}
.P-404 .P-obscener .upperBody {
  width: 55%;
  height: 150px;
}
.P-404 .P-obscener .upperBody .arm {
  position: absolute;
  width: 12px;
  height: 100px;
  background: #CCC;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.P-404 .P-obscener .upperBody .upleft {
  top: 0;
  left: 22px;
  -webkit-transform: rotate(5deg);
  transform: rotate(5deg);
}
.P-404 .P-obscener .upperBody .upRight {
  top: 0;
  right: 22px;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
}
.P-404 .P-obscener .upperBody .lowerleft {
  top: 85px;
  left: 50px;
  -webkit-transform: rotate(-40deg);
  transform: rotate(-40deg);
}
.P-404 .P-obscener .upperBody .lowerRight {
  top: 85px;
  right: 50px;
  -webkit-transform: rotate(40deg);
  transform: rotate(40deg);
}
.P-404 .P-obscener .privateBody {
  width: 34%;
  height: 45px;
  line-height: 45px;
  text-align: center !important;
  letter-spacing: .1em;
  font-size: 3.4rem;
  background: #429314;
  color: #FFF;
  border-radius: 5%;
  z-index: 5;
}
.P-404 .P-obscener .lowerBody {
  width: 55%;
  height: 222px;
  z-index: 4;
}
.P-404 .P-obscener .lowerBody .leg {
  position: absolute;
  width: 12px;
  height: 130px;
  background: #CCC;
  -webkit-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.P-404 .P-obscener .lowerBody .upleft {
  top: -5px;
  left: 70px;
  -webkit-transform: rotate(-15deg);
  transform: rotate(-15deg);
}
.P-404 .P-obscener .lowerBody .upRight {
  top: -5px;
  right: 70px;
  -webkit-transform: rotate(15deg);
  transform: rotate(15deg);
}
.P-404 .P-obscener .lowerBody .lowerleft {
  top: 114px;
  left: 62px;
  height: 115px;
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}
.P-404 .P-obscener .lowerBody .lowerRight {
  top: 114px;
  right: 62px;
  height: 115px;
  -webkit-transform: rotate(-25deg);
  transform: rotate(-25deg);
}
.P-404 .P-obscener .foot {
  width: 34%;
  height: 30px;
  z-index: 5;
}
.P-404 .P-obscener .foot .shoe {
  width: 45px;
  height: 15px;
  position: absolute;
  background: #CCC;
}
.P-404 .P-obscener .foot .left {
  top: 0;
  left: 0;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 30%;
  -webkit-transform-origin: top;
  -webkit-transform: rotate(10deg);
  transform-origin: top;
  transform: rotate(10deg);
}
.P-404 .P-obscener .foot .right {
  top: 0;
  right: 0;
  border-top-left-radius: 100%;
  border-bottom-right-radius: 30%;
  -webkit-transform-origin: top;
  -webkit-transform: rotate(-10deg);
  transform-origin: top;
  transform: rotate(-10deg);
}
.P-archives .P-archive-list {
  width: 75%;
  margin: 0 auto;
}
.P-archives section {
  padding: 1.5em 0;
  box-sizing: border-box;
  border-radius: 2px;
  border-bottom: 1px dashed #999;
}
.P-archives section h2 {
  padding: 6px 0;
  font-weight: normal;
  font-size: 2.2rem;
  padding-left: 10px;
}
.P-archives section article {
  margin: 1em 2em;
  padding: 1em 1.5em;
  color: #444;
  line-height: 150%;
  background: #FAF9F9;
  border-left: 8px solid #DDD;
}
.P-archives section article .abstract {
  display: inline-block;
}
.P-archives section article .abstract:hover {
  color: #000;
}
.P-archives section article .cover {
  display: inline-block;
  margin-top: 15px;
  border: 1px solid #DDD;
}
.P-archives section:last-child {
  border-bottom: none;
}
.P-archive-list-title .title {
  display: inline-block;
  font-size: 2.4rem;
  font-weight: normal;
  color: #04625B;
  transition: color 218ms cubic-bezier(0.42, 0, 0.58, 1);
}
.P-archive-list-title .title:hover {
  color: #22B6AB;
}
.P-archive-list-info {
  padding-left: 10px;
  padding-bottom: 10px;
  color: #666;
  font-style: italic;
  font-size: 1.4rem;
}
.P-archive-pager {
  border-top: 3px solid #EDEDED;
  background: #F5F5F4;
}
.P-article .content {
  width: 75%;
  margin: 0 auto;
  padding: 1.5em 1.5em 1.5em 0;
}
.P-article .content article {
  font-size: 1.8rem;
  line-height: 150%;
}
.P-article .content article a {
  color: #0080FF;
  text-decoration: underline;
}
.P-article .content article p {
  padding-top: 25px;
  text-indent: 2em;
}
.P-article .content article img {
  display: block;
  position: relative;
  left: 2em;
  border: 4px solid #E8E4E1;
  border-radius: 2px;
}
.P-article pre {
  width: 88%;
  padding: 1.5em;
  margin-top: 0.3em;
  overflow: auto;
  border: 8px solid #DDD;
  border-radius: 1em;
  position: relative;
  left: 2em;
  font-size: 1.6rem;
  background: #272822;
}
.noData {
  width: 75%;
  margin: 0 auto;
  text-align: center !important;
  padding-top: 3em;
  font-size: xx-large;
  color: red;
}
.M-index {
  position: absolute;
  left: 50%;
  top: 45%;
  width: 70%;
}
.M-indexWraper {
  position: absolute;
  left: -50%;
  width: 100%;
}
.M-indexWraper .myBlog {
  display: block;
  width: 25%;
  min-width: 250px;
  margin: 0 auto;
  cursor: pointer;
  margin: auto auto;
  font-weight: normal;
  color: #563d7c;
  border: 2px solid #79429E;
  padding: 15px 20px;
  line-height: 1.3;
  -webkit-transition: all 444ms cubic-bezier(0.42, 0, 0.58, 1);
  transition: all 444ms cubic-bezier(0.42, 0, 0.58, 1);
  border-radius: 2px;
  box-shadow: -1px 3px 8px #63a6dd, 1px -3px 8px #63a6dd;
  background: #A7CCEF;
}
.M-indexWraper .myBlog:hover {
  border-color: #EFEFEF;
  color: #fff;
  box-shadow: -1px 3px 8px #cccccc, 1px -3px 8px #cccccc;
}
