@charset "utf-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
  border: none;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button,
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
  width: 100%;
  height: 100%;
}
body {
  width: 100%;
  height: 100%;
  background: #FFF;
  overflow: hidden;
  font-family: Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
  font-size: 16px;
}
ul,
ol {
  list-style-type: none;
}
img {
  border: none;
}
a {
  color: #008000;
  text-decoration: none;
}
a:hover {
  color: #000000;
}
#MAIN {
  width: 100%;
  height: 100%;
}
#LOADING {
  display: none;
  width: 100%;
  height: 100%;
}
#POPWIN {
  display: none;
  width: 100%;
  height: 100%;
}
#noScript {
  width: 60%;
  position: absolute;
  left: 50%;
  top: 50%;
}
noscript {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  left: -50%;
  top: -50%;
  text-align: center;
  font-size: 24px;
  color: #666;
  text-shadow: 2px 2px 3px #CCC;
}
.G-frame {
  width: 1000px;
  height: 200px;
  margin: 0 auto;
}
.G-frameBodyHead {
  height: 70px;
  line-height: 70px;
  overflow: hidden;
}
.G-frameBodyHeadLogo {
  float: left;
}
.G-frameBodyHead ul {
  float: right;
}
.G-frameBodyHead li {
  display: inline-block;
  margin-right: 15px;
}
.G-frameBodyHead li a.act {
  color: red;
}
.G-frameBodyBan {
  display: none;
  width: 100%;
  height: 60px;
  background: #FF8000;
}
.G-frameBodyIndex {
  width: 100%;
  height: 400px;
}
.G-frameBodyWrapper {
  display: none;
  width: 100%;
  height: 400px;
}
.G-frameBodyWrapperArchive {
  float: left;
  width: 75%;
  height: 400px;
  box-sizing: border-box;
  padding: 15px;
  border: 1px solid #EEE;
}
.G-frameBodyWrapperAside {
  float: right;
  width: 25%;
  height: 400px;
  padding: 15px;
  box-sizing: border-box;
  border: 1px solid #EEE;
}
.G-frameBodyFooter {
  width: 100%;
  height: 50px;
}
