// 侧边栏样式
.P-me{
	box-sizing: border-box;
	padding: 10px;
}
.P-list{
	box-sizing: border-box;
	padding: 10px;
	border-bottom: 1px solid #EEE;
	border-top: 1px solid #EEE;
}
.P-others{
	box-sizing: border-box;
	padding: 10px;
}