// 块级容器居中
.center{
	margin: 0 auto;
}
// 悬浮导航
.head-fixed{
	position: fixed;
	z-index: 10;
	right: 0;
	left: 0;
	top: 0;
}
.overflowHidden{
	overflow: hidden;
}

//文字对齐
.tc {text-align: center !important;} //居中
.tl {text-align: left !important;}   //左对齐
.tr {text-align: right !important;}  //右对齐

//文字风格
.ti {font-style: italic;}
.tdef {font-style: italic; text-align: center; color: #ccc;}
.text_limit {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	width: 100%;
}

//浮动
.fl {float:left;}
.fr {float:right;}

// 行/块元素
.db {display: block;}
.dib {display: inline-block;}

// 文字大小
.fts12 {font-size: 12px !important;}
.fts13 {font-size: 13px !important;}
.fts14 {font-size: 14px !important;}
.fts15 {font-size: 15px !important;}
.fts16 {font-size: 16px !important;}
.fts18 {font-size: 18px !important;}
.fts20 {font-size: 20px !important;}
.fts22 {font-size: 22px !important;}
.fts24 {font-size: 24px !important;}
.fts26 {font-size: 26px !important;}

// 文字间距
.lsp0 {letter-spacing: .0 !important;}
.lsp1 {letter-spacing: .1em !important;}
.lsp2 {letter-spacing: .2em !important;}
.lsp3 {letter-spacing: .3em !important;}
.lsp4 {letter-spacing: .4em !important;}
.lsp5 {letter-spacing: .5em !important;}

// 定位
.pr {position: relative;}
.pa {position: absolute;}
.top-left {top: 0; left: 0;}
.top-right {top: 0; right: 0;}
.bottom-left {bottom: 0; left: 0;}
.bottom-right {bottom: 0; right: 0;}

// 鼠标指针
.cur_p {cursor: pointer;}
.cur_d {cursor: default;}

// 清除浮动
.cl {clear:both;}
.clear {
	clear:both;
	&:after {
		content:".";
		display:block;
		clear:both;
		visibility:hidden;
		height:0;
	}
}
.clearBox {
	display: block;
	overflow: hidden;
	height: 0px;
	width: 0px;
	clear: both;
}
.clearMargin:before {
	display: table-column;
	content: "";
	height: 0;
	width: 0;
	overflow: hidden;
}