// 全局字体
@fontFamily:			Consolas, Arial, 'Microsoft Yahei', '微软雅黑', Tahoma;
// 代码字体
@preFontFamily:			Consolas, Tahoma 'Microsoft Yahei';
// 中文字体
@zhFontFamily:			Consolas, Arial, 'Microsoft Yahei', '微软雅黑';

// 全局宽度
@globalWidth:			100%;
// 主页宽度
@indexWidth:			75%;
// 博客宽度
@blogWidth:				75%;

// 默认文本颜色
@defaultColor:          #000;
// 默认超链接颜色
@defaultAnchor:			#0080C0;
// 默认超连接hover颜色
@defaultAnchorHover:	#F27900;

// 头部(导航高度)
@headHeight:			70px;
// banner高度
@bannerHeight:			170px;
// 页脚高度
@footerHeight:			80px;

// 警告颜色
@warningColor:			#FF6100;