.leftW{
	width: 70%;
}
.rightW{
	width: 30%;
}
.G-frame{
	width: @globalWidth;
	margin: 0 auto;
	&Body{
		position: relative;
		// 主页
		&Index{
			width: 100%;
			height: 400px;
			// 主页头部
			&Head{
				width: 100%;
				height: @headHeight;
				line-height: @headHeight;
				overflow: hidden;
				background:#F7F7F7;
			}
		}
		// 博客
		&Blog{
			display: none;
			width: 100%;
			min-height: 500px;
			// 博客头部
			&Head{
				width: 100%;
				height: @headHeight;
				line-height: @headHeight;
				overflow: hidden;
				background:#F7F7F7;
			}
			// Banner
			&Banner{
				width: 100%;
				padding-top: @headHeight;
				min-height: 200px;
				background: #383838;
			}
			// 博客列表页
			&Archive{
				width: 100%;
				box-sizing: border-box;
			}
			// 博客内容页
			&Article{
				width: 100%;
				box-sizing: border-box;
			}
		}
		// 空白页
		&Blank{
			position: relative;
		}
	}
}