.M-pager{
	padding: 50px 0;
	&List{
		display: inline-block;
	}
	&Info{
		display: inline-block;
		.total{
			margin-left: 20px;
			color: #867878;
		}
	}
	input:active, input:focus{
		outline: none;
	}
	.M-pagerItem, .M-pagerPN{
		box-sizing: border-box;
		position: relative;
		margin-right: 10px;
		display: inline-block;
		width: 40px;
		height: 40px;
		line-height: 40px;
		text-align: center;
		border: 1px solid #DDD;
		border-radius: 2px;
		background: #FAFAFA;
		color: #D23030;
		cursor: pointer;
		font-size: 18px;
		transition: background 220ms cubic-bezier(0.42,0,.58,1);
	}
	.M-pagerItem:hover, .M-pagerPN:hover{
		background: #4D4D4D;
		color: #FFF;
	}
	// .M-pagerPN:hover{
	// 	background: #0080FF;
	// 	color: #FFF;
	// }
	.M-pagerAct, .M-pagerAct:hover{
		border: none;
		background: none;
		color: #D23030;
		cursor: default;
	}
	.M-pagerOmit, .M-pagerOmit:hover{
		border: none;
		background: none;
		color: #A39A9A;
		cursor: default;
	}
	.M-pagerPrev, .M-pagerNext{
	}
}