<div class="M-footerCopy" v-text="copy"/>
<!-- 多语言切换 -->
<div class="M-footerLang">
	<div class="M-footerLangText" v-on="click: vmClickLang">{{langText}}<i class="fa fa-angle-down icon"></i></div>
	<ul class="M-footerLangSelect">
		<li v-repeat="item in langs">
			<a v-attr="data-type: item.type" v-class="act: lang===item.type">
				<i class="fa fa-check-circle icon" v-show="lang===item.type"></i>{{item.text}}
			</a>
		</li>
	</ul>
</div>
<!-- 图标信息 -->
<div class="M-footerInfo">
	<a href="https://github.com/tangbc/blog" class="github" title="{% 博客源码 %}" target="_blank">
		<i class="fa fa-github"/>
	</a>
</div>