<!-- 页码 -->
<ul class="M-pagerList">
	<!-- 上一页 -->
	<li v-show="showPrev">
		<a class="M-pagerListItem prev" title="{% 上一页 %}" v-on:click="vmClickPrev">
			<i class="fa fa-angle-left"/>
		</a>
	</li>
	<li v-for="page in pages">
		<a v-bind="{href: page.href, 'data-id': page.text}" v-bind:class="{'M-pagerListItem': true, act: page.isAct, omit: page.isOmit}">
			{{page.text}}
		</a>
	</li>
	<!-- 下一页 -->
	<li v-show="showNext">
		<a class="M-pagerListItem next" title="{% 下一页 %}" v-on:click="vmClickNext">
			<i class="fa fa-angle-right"/>
		</a>
	</li>
</ul>
<!-- 分页信息 -->
<span class="M-pagerInfo" v-text="info"></span>
